<template>
  <div class="lecture-page">
    <div class="container">
      <div class="capital-card">
        <div class="capital-card-head">
          <h6>المحاضرات</h6>
          <button @click="addLecturePopUp = true">إضافة محاضرة</button>

            <div class="centerx">
                    
                    <vs-popup
                      class="holamundo"
                      title="إضافة محاضرة جديدة"
                      :active.sync="addLecturePopUp"
                    >
                          <div class="form-group">
                              <h6>أدخل عنوان المحاضرة</h6>
                              <input v-model="addLectureinfo.title" type="text" class="form-control">
                          </div>
                          
                          <vs-button @click="addLecture()" style="background:rgb(5, 138, 198)!important"
                          >إضافة</vs-button
                        >
                    </vs-popup>
                  </div>

        </div>
        <div class="capital-card-content">
          <div class="row">
            <div
              class="col-md-4"
              v-for="(lecture, index) in allLectures"
              :key="index"
            >
              <div class="lecture-card">
                <vs-collapse>
                  <vs-collapse-item>
                    <span class="pin">
                      <div class="pin-inner">
                        <i class="fas fa-circle"></i>
                        <span>{{ lecture.numberOfSessions }}</span>

                      </div>
                    </span>

                    <div slot="header" @click="header">

                      {{ lecture.title }}
                    </div>
                    <div
                      class="coll-item"
                      v-for="(session, index) in lecture.sessions"
                      :key="index"
                    >
                      <div class="coll-item-three">
                        <div class="row">
                          <div class="col-md-4">
                            <h6>سيشن {{ index + 1 }}</h6>
                          </div>
                          <div class="col-md-4">
                            <h6>
                              {{ new Date(session.time).toLocaleDateString() }}
                            </h6>
                          </div>
                          <div class="col-md-4">
                            <h6>
                              {{ new Date(session.time).toLocaleTimeString() }}
                            </h6>
                          </div>
                        </div>
                      </div>
                      <div class="coll-btns">
                        <vs-button @click="deleteSession(lecture,session,index)" style="background:#cd3159!important"
                          >حذف</vs-button
                        >
                        <vs-button @click="editSession(lecture,session,index)" style="background:rgb(5, 138, 198)!important"
                          >تعديل</vs-button
                        >
                        <span class="num">
                          عدد الطلاب
                          <span class="stud-num">
                            {{ session.users.length }}
                          </span>
                        </span>
                      </div>
                    </div>
                  </vs-collapse-item>
                </vs-collapse>

                <div class="btns-lecture">
                  <!-- <vs-button color="#2898ca" class="full-btn" gradient-color-secondary="rgb(2, 138, 198)" type="gradient"></vs-button> -->
                   <!-- @click="addSession(lecture.id)" -->
                  <vs-button
                   
                    @click="addSessionMain(lecture)"
                    class="full-btn"
                    style="background:#0c9200f0!important"
                    >إضافة سيشن</vs-button
                  >


                  



                  <vs-button
                    class="first"
                    style="background:rgb(5, 138, 198)!important"
                    @click="editLectureMain(lecture)"
                    >تعديل</vs-button
                  >

                


                  <vs-button @click="deleteLecture(lecture, index)" style="background:#cd3159!important" class="second"
                    >حذف</vs-button
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>




<div class="centerx">
                    
                    <vs-popup
                      class="holamundo"
                      title="Lorem ipsum dolor sit amet"
                      :active.sync="popupActivo"
                    >
                          <div class="form-group">
                              <h6>ادخل عدد الطلاب</h6>
                              <input v-model="sesstionForm.limit" type="number" class="form-control">
                          </div>
                           <div class="form-group">
                              <h6>تاريخ السيشن</h6>
                              <input v-model="sesstionForm.time" type="date" class="form-control">
                          </div>
                          <vs-button @click="addSession" style="background:rgb(5, 138, 198)!important"
                          >إضافة</vs-button
                        >
                    </vs-popup>
                  </div>



                  
<div class="centerx">
                    
                    <vs-popup
                      class="holamundo"
                      title="Lorem ipsum dolor sit amet"
                      :active.sync="popupActivoEditSession"
                    >
                          <div class="form-group">
                              <h6> موعد السيشن</h6>
                              <input v-model="sessionEdit.time" type="datetime-local" class="form-control">
                          </div>
                           <div class="form-group">
                              <h6>عدد الطلاب</h6>
                              <input v-model="sessionEdit.limit" type="number" class="form-control">
                          </div>
                          <div class="form-group">
                              <h6>رابط السيشن</h6>
                              <input v-model="sessionEdit.live" type="text" class="form-control">
                          </div>
                          <vs-button @click="editSessionMain" style="background:rgb(5, 138, 198)!important"
                          >تعديل</vs-button
                        >
                    </vs-popup>
                  </div>



      <div class="centerx">
                    
                    <vs-popup
                      class="holamundo"
                      title="تعديل عنوان المحاضرة"
                      :active.sync="popupActivoEdit"
                    >
                          <div class="form-group">
                              <input v-model="lectureEdit.title" type="text" class="form-control">
                          </div>
                          
                          <vs-button @click="editLectureMain" style="background:rgb(5, 138, 198)!important"
                          >تعديل</vs-button
                        >
                    </vs-popup>
                  </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
        allLectures: [],
        lecture:{
            id:0,
        },
        session: 0,
        popupActivo:false,
        popupActivoEdit: false,
        addLecturePopUp: false,
        popupActivoEditSession: false,
        lectureEdit:{
            title:''
        },
        sessions: [],
        sesstionForm:{
            limit: '',
            time: '',
        },
        addLectureinfo: {
            title: ''
        },
        sessionEdit:{
            time:'',
            limit: 0,
            live: ''
        },
        lecture2: '',
        sessionObj: {},
    };
  },
  created() {
    this.$axios.get(`subjects/4/lectures`).then(res => {
      this.allLectures = res.data.lectures;
      res.data.lectures.forEach(lect => {

        console.log("session", this.sessions);
      });
      console.log(res);
    });
  },
  methods: {
      editSession: function(lecture, session, index){
          this.session = session.id
          this.sessionObj = session
          this.popupActivoEditSession = true;
          this.lecture2 = lecture
      },
      deleteLecture: function(lec ,index){
          this.$axios.delete(`lectures/${lec.id}`)
          .then(res => {
              console.log(res)
              this.allLectures.splice(index, 1)
          })
      },
      editLectureMain(lecture){
          this.popupActivoEdit = true
          this.lecture.id = lecture.id
      },    

      header: function(){
          console.log("header")
      },

    addSessionMain(lecture){
        this.popupActivo = true
        this.lecture.id = lecture.id
    },

    editSessionMain(){
        this.$axios.put(`sessions/${this.session}`,{
            live: this.sessionEdit.live,
            limit: this.sessionEdit.limit,
            time: this.sessionEdit.time
        })
        .then(res => {
            this.popupActivoEditSession = false;
        
            this.sessionObj.live = res.data.live;
            this.sessionObj.time = res.data.time;
            this.sessionObj.limit = res.data.limit

            this.sessionEdit.live = ''
            this.sessionEdit.limit = ''
            this.sessionEdit.time = ''

            console.log(res.data)
        })
    },
      
    addLecture: function(){
        this.$axios.post(`subjects/4/lectures`, {
            title: this.addLectureinfo.title
        })
        .then(res => {
            console.log(res.data)
            this.$snotify.success(`تم الإضافة بنجاح`);
            this.allLectures.push(res.data)
            this.addLecturePopUp = false;
            this.addLectureinfo.title = ''
        })
    },
    addSession: function() {
      console.log(this.lecture.id)
      this.$axios
        .post(`lectures/${this.lecture.id}/sessions`, {
          time: this.sesstionForm.time,
          limit: this.sesstionForm.limit
        })
        .then(res => {
          this.popupActivo = false;

          this.allLectures.find(lec => lec.id == this.lecture.id).sessions.push(res.data)
          this.allLectures.find(lec => lec.id == this.lecture.id).numberOfSessions += 1
          this.$snotify.success(`تم الإضافة بنجاح`);
        
          
          console.log(this.allLectures.find(lec => lec.id == this.lecture.id).sessions)
          this.sesstionForm.limit = ''
          this.sesstionForm.time = ''
          console.log("Session ", res);
        });
    },
    editLecture(){
        this.$axios.put(`lectures/${this.lecture.id}`, {
            title: this.lectureEdit.title
        })
        .then(res => {
            this.popupActivoEdit = false;
            this.$snotify.success(`تم الإضافة بنجاح`);
            this.allLectures.find(lec => {
                return lec.id == this.lecture.id
            }).title = res.data.title
            
            this.lectureEdit.title = ''
            console.log(res)
        })
    },
    deleteSession(lecture,session,index){
        this.$axios.delete(`sessions/${session.id}`)
        .then(res => {
            lecture.sessions.splice(index,1)
            lecture.numberOfSessions -= 1
            console.log(res.data)
        })
    }

    // delate: function(id){
    //     this.$axios.delete(`sessions/${id}`)
    //     .then(res => {
    //         console.log(res.data)
    //     })
    // }
  }
};
</script>

<style lang="scss">
.lecture-page {
  margin-top: 50px;
  .capital-card {
    button {
      outline: none !important;
    }
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.1);
    .capital-card-head {
      padding: 11px 18px;
      background: #058ac6;
      color: #fff;
      font-family: "CustomFontBold";
      h6 {
        display: inline-block;
        margin: 0;
        font-size: 20px;
        padding-top: 5px;
      }
      button {
        float: left;
        border: 0;
        outline: none;
        padding: 5px 11px;
        background: #eee;
        font-family: "CustomFontRegular";
        color: #058ac6;
        font-weight: bold;
        border-radius: 10px;
      }
    }
    .capital-card-content {
      padding: 15px;
    }
  }
  .lecture-card {
    &:hover {
      transform: translateY(-5px);
    }
    margin-bottom: 15px;
    font-family: "CustomFontBold";
    transition: all 0.3s linear;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.18);
    padding: 1px;
    .vs-collapse-item--header {
      background: #f7f7f7;
      padding: 15px;
      background: #f7f7f7;
      padding: 43px 17px;
    }
    .icon-header.vs-collapse-item--icon-header {
      display: none;
    }
    .vs-collapse {
      padding: 0 !important;
    }
    .vs-collapse-item--content {
      background: #f7f7f7;
      max-height: 350px;
    }
    .vs-collapse-item {
      position: relative;
      .pin {
        position: absolute;
        top: 10px;
        left: 47px;
        .pin-inner {
          position: relative;
          span {
            right: 11px;
            top: 8px;
            font-weight: bold;
            color: #fff;
          }
          i {
            font-size: 37px;
            /* background: #DDD; */
            color: #058ac6;
          }
          i,
          span {
            position: absolute;
          }
        }
      }
      .coll-item-three {
        padding: 8px;
        h6{
            font-size: 14px;
        }
      }
      .coll-item {
        border-bottom: 1px solid #c3c3c3;
        padding-bottom: 6px;
        .coll-btns {
          overflow: hidden;
          button {
            padding: 3px 10px;
            border: 0;
            float: left;
            margin: 0 4px;
          }
          span.num {
            float: right;
            color: #058ac6;
          }
          span.stud-num {
            background: #fff;
            padding: 5px 7px;
            border-radius: 50%;
            color: #058ac6;
            font-weight: bold;
          }
        }
      }
    }
    .add-session-btn {
      button {
        width: 100%;
        border-radius: 0;
        background: #058ac6;
        border-color: #058ac6;
        padding: 10px;
        border-left: 0;
      }
    }
    .btns-lecture {
      overflow: hidden;
      .full-btn {
      }
      .first {
        /* background: #1c5609; */
        background: #025880;
        border-right: 0;
      }
      .second {
        border-left: 0;
      }
      button {
        float: right;
        width: 33.33%;
        text-align: center;
        border-radius: 0 !important;
      }
    }
  }
}
</style>
