<template>
  <div>
    <div class="add-subject">
      <div class="container">
        <div class="card-cont">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-6">
                <h3>الفيديوهات والملفات</h3>
              </div>
              <div class="col-md-6 col-sm-6 col-6" style="text-align:left">
                <button @click="addVideo">
                  <i class="fab text-danger fa-youtube"></i> إضافة فيديو
                </button>
                <button @click="addPdf">
                  <i class="fas text-danger fa-file-pdf"></i>
                  إضافة ملف
                </button>
              </div>
            </div>
          </div>
          <div class="material">
            <div class="container">
              <Loading v-if="isLoading" />
              <div class="material-tabs" v-else>
                <vs-tabs alignment="left" color="primary">
                  <vs-tab label="الفديوهات">
                    <div class="row" v-if="videos">
                      <div class="col-md-6" v-for="(video, index) in videos" :key="index">
                        <VideoCard
                          :embed="video.embed"
                          :title="video.title"
                          :duration="video.duration"
                        >
                          <button @click="updateVideoData(video)" slot="video-edit-button">
                            <i class="fas fa-edit"></i> تعديل
                          </button>

                          <button @click="deleteVideo(video)" slot="video-delete-button">
                            <i class="fas fa-trash-alt"></i>
                            حذف
                          </button>
                        </VideoCard>
                      </div>
                    </div>
                  </vs-tab>
                  <vs-tab label="الملفات">
                    <div class="row">
                      <FilePdf
                        v-for="(pdf, index) in pdfs"
                        :key="index"
                        :title="pdf.title"
                        :link="pdf.link"
                      >
                        <div class="pdf-icon" slot="overlay-pdf-slot">
                          <i class="fas fa-chalkboard-teacher"></i>
                          <!-- <a :href="pdf.link" target="_blank"> -->
                          <button @click="updatePdfData(pdf)" slot="video-edit-button">
                            <i class="fas fa-edit"></i> تعديل
                          </button>

                          <button @click="deletePdf(pdf)" slot="video-delete-button">
                            <i class="fas fa-trash-alt"></i>
                            حذف
                          </button>
                          <!-- </a> -->
                        </div>
                      </FilePdf>
                    </div>
                  </vs-tab>
                </vs-tabs>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Add Video -->
    <vs-popup class :title="title" :active.sync="showVideoModal">
       <ValidationObserver v-slot="{ invalid }">
     <form action="">
        <div class="add-subject">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="form-groub">
                <h6>لينك الفيديو</h6>
                <ValidationProvider rules="required|min:6" v-slot="{errors}">
                <input type="text" v-model="videoForm.video" class="form-control" placeholder />
                <div class="alert alert-danger" v-if="errors[0]"> {{errors[0]}} </div>
                </ValidationProvider>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-groub">
                <h6>عنوان الفيديو</h6>
                <ValidationProvider rules="required|min:6" v-slot="{errors}">
                <input type="text" v-model="videoForm.title" class="form-control" placeholder />
                 <div class="alert alert-danger" v-if="errors[0]"> {{errors[0]}} </div>
                 </ValidationProvider>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-groub">
                <h6>مدة الفيديو</h6>
                <ValidationProvider rules="required|min:6" v-slot="{errors}">
                <input type="text" v-model="videoForm.duration" class="form-control" placeholder />
                <div class="alert alert-danger" v-if="errors[0]"> {{errors[0]}} </div>
                 </ValidationProvider>
              </div>
            </div>

            <div class="col-md-4">
              <input
                v-if="edited"
                type="button"
                @click="updateVideo"
                value=" تعديل البيانات"
                class="basth-btn-primary"
              />
              <input
                v-else
                type="submit"
                :disabled='invalid'
                @click="addNewVideo"
                value="  إضافة الفيديو "
                class="basth-btn-primary"
              />
            </div>
          </div>
        </div>
      </div>
     </form>
     </ValidationObserver>
    </vs-popup>
    <!-- End Add Video -->
    <!-- Add Pdf files -->
    <vs-popup class :title="title" :active.sync="showPdfModal">
       <ValidationObserver v-slot="{ invalid }">
     <form action="">
        <div class="add-subject">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="form-groub">
                <h6>عنوان الملف</h6>
                 <ValidationProvider rules="required|min:6" v-slot="{errors}">
                <input type="text" v-model="pdfForm.title" class="form-control" placeholder />
                <div class="alert alert-danger" v-if="errors[0]"> {{errors[0]}} </div>
                </ValidationProvider>
              </div>
            </div>

            <div class="col-md-12">
              <div class="file-choose">
                <input type="file" @change="fileSelected" placeholder="قم بإرفاق ملف" />

                <span>
                  <i class="fas fa-file-pdf fa-2x"></i>
                  <b v-if="pdfTitle == ''">قم بإرفاق ملف الشرح</b>
                  <b v-else>{{ pdfTitle }}</b>
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <input
                v-if="edited"
                type="button"
                @click="updatePdf"
                value=" تعديل البيانات"
                class="basth-btn-primary"
              />
              <input
                v-else
                type="submit"
                :disabled='invalid'
                @click="addNewPdf"
                value="  إضافة الملف "
                class="basth-btn-primary"
              />
            </div>
          </div>
        </div>
      </div>
     </form>
     </ValidationObserver>
    </vs-popup>
  </div>
</template>

<script>





// ******************************** Start Vee Validate options ******************************************

import { ValidationProvider } from 'vee-validate';
import { ValidationObserver } from 'vee-validate';

import { extend } from 'vee-validate';
import en from 'vee-validate/dist/locale/en.json';
import ar from 'vee-validate/dist/locale/ar.json';
import { email } from 'vee-validate/dist/rules';


localize('ar');

extend('min', {
  validate(value,args){
    return value.length >= args.length
  },
  params:['length']
});

extend('email', email);

extend('required', {
  validate (value) {
    return {
      required: true,
      valid: ['', null, undefined].indexOf(value) === -1,
      
    };
  },
  computesRequired: true
});




import { localize } from 'vee-validate';

localize({
  en: {
    messages: {
      required: 'this field is required',
      min: 'it is too Few you want to get doxed!',
      email: 'Email Must Be Valid'
    }
  },
  ar:{
    messages: {
      required: 'هذا الحقل مطلوب',
      min: 'عدد الحروف او الأرقام غير مناسب',
      email: 'من فضلك ادخل البريد الألكتروني بشكل صحيح'
    }
  }
});




// ****************************** End Vee Validate options ******************************






import VideoCard from "../../../components/material/video";
import FilePdf from "../../../components/material/FilePdf";
import Loading from "../../../components/Loading";

export default {
  components: {
    VideoCard,
    Loading,
    FilePdf,
    ValidationProvider,
    ValidationObserver
  },
  data() {
    return {
      videos: null,
      pdfs: null,
      title: "",
      lessonData: null,
      pdfTitle: "",
      pdfFile: null,

      edited: false,
      isLoading: true,
      showVideoModal: false,
      showPdfModal: false,
      videoForm: {
        id: "",
        title: "",
        duration: "",
        video: ""
      },
      pdfForm: {
        id: "",
        title: ""
      }
    };
  },
  created() {
    this.getVideos();
    this.getPdfs();
  },
  methods: {
    addVideo() {
      this.title = " إضافة فيديو   ";
      this.edited = false;
      this.videoForm.id = "";
      this.videoForm.video = "";
      this.videoForm.title = "";
      this.videoForm.duration = "";
      this.showVideoModal = true;
    },
    fileSelected(e) {
      if (e.target.files.length > 0) {
        // console.log("files", e.target.files);
        this.pdfFile = e.target.files[0];
        this.pdfTitle = e.target.files[0].name;
      }
    },
    addPdf() {
      this.edited = false;
      this.title = " إضافة ملف الشرح   ";
      this.showPdfModal = true;
      this.pdfTitle = "";

      this.pdfForm.title = "";
    },
    getVideos() {
      this.isLoading = true;

      this.$axios
        .get(`lesson/${this.$route.params.id}/videos`)
        .then(res => {
          this.isLoading = false;
          this.lessonData = res.data;
          this.videos = res.data.materials;
          this.videos.map(function(value, key) {
            value["embed"] = value["link"].replace("watch?v=", "embed/");
          });
        })
        .catch(err => {
          this.isLoading = false;

          console.log(err);
        });
    },
    getPdfs() {
      this.$axios
        .get(`lessons/${this.$route.params.id}/pdf`)
        .then(res => {
          this.pdfs = res.data.materials;
        })
        .catch(err => {
          console.log(err);
        });
    },
    updateVideoData(item) {
      this.title = "تعديل بيانات الفيديو ";
      this.videoForm.id = item.id;
      this.videoForm.video = item.link;
      this.videoForm.title = item.title;
      this.videoForm.duration = item.duration;
      this.edited = true;
      this.showVideoModal = true;
    },
    updatePdfData(item) {
      this.title = "تعديل بيانات الملف ";
      this.pdfForm.id = item.id;
      this.pdfForm.title = item.title;

      this.edited = true;
      this.pdfTitle = "";
      this.showPdfModal = true;
    },

    updateVideo() {
      this.$axios
        .put(`videos/${this.videoForm.id}`, this.videoForm)
        .then(res => {
          this.getVideos();
          this.showVideoModal = false;
          this.$snotify.success(`تم تعديل البيانات بنجاح`);
        })
        .catch(err => {
          console.log(err);
        });
    },
    addNewVideo() {
      this.$axios
        .post(`lessons/${this.$route.params.id}/videos`, this.videoForm)
        .then(res => {
          this.getVideos();
          this.showVideoModal = false;
          this.$snotify.success(`تم إضافة الفيديو  بنجاح`);
        })
        .catch(err => {
          console.log(err);
        });
    },
    deleteVideo(item) {
      this.$snotify.confirm("هل تريد حذف  الفيديو  المُحدد ", " هل أنت متأكد", {
        showProgressBar: true,
        closeOnClick: true,
        pauseOnHover: true,
        buttons: [
          {
            text: "موافق",
            action: toast => {
              this.$snotify.remove(toast.id);
              this.$axios
                .delete(`videos/${item.id}`)
                .then(res => {
                  this.getVideos();
                  this.$snotify.success(" تم الحذف بنجاح");
                })
                .catch(err => {
                  this.$snotify.error("للاسف حصل خطأ ما  ");
                });
            }
          },
          {
            text: "إلغاء",
            action: toast => {
              this.$snotify.remove(toast.id);
            }
          }
        ]
      });
    },
    updatePdf() {
      let form_data = new FormData();
      form_data.append("title", this.pdfForm.title);

      if (this.pdfFile != null) {
        form_data.append("pdf", this.pdfFile);
      }
      this.$axios
        .put(`pdf/${this.pdfForm.id}`, form_data, {
          headers: { "Content-Type": "multipart/form-data" }
        })
        .then(res => {
          this.getPdfs();
          this.showPdfModal = false;
          this.$snotify.success(`تم تعديل البيانات بنجاح`);
        })
        .catch(err => {
          console.log(err);
        });
    },
    addNewPdf() {
      let form_data = new FormData();
      form_data.append("title", this.pdfForm.title);

      if (this.pdfFile != null) {
        form_data.append("pdf", this.pdfFile);
      }
      this.$axios
        .post(`lessons/${this.$route.params.id}/pdf`, form_data, {
          headers: { "Content-Type": "multipart/form-data" }
        })
        .then(res => {
          this.getPdfs();
          this.showPdfModal = false;
          this.$snotify.success(`تم إضافة الفيديو  بنجاح`);
        })
        .catch(err => {
          console.log(err);
        });
    },
    deletePdf(item) {
      this.$snotify.confirm("هل تريد حذف  الملف  المُحدد ", " هل أنت متأكد", {
        showProgressBar: true,
        closeOnClick: true,
        pauseOnHover: true,
        buttons: [
          {
            text: "موافق",
            action: toast => {
              this.$snotify.remove(toast.id);
              this.$axios
                .delete(`pdf/${item.id}`)
                .then(res => {
                  this.getPdfs();
                  this.$snotify.success(" تم الحذف بنجاح");
                })
                .catch(err => {
                  this.$snotify.error("للاسف حصل خطأ ما  ");
                });
            }
          },
          {
            text: "إلغاء",
            action: toast => {
              this.$snotify.remove(toast.id);
            }
          }
        ]
      });
    }
  }
};
</script>

<style lang="scss">
.material {
  .vs-tabs--li {
    button.vs-tabs--btn {
      outline: none !important;
    }
  }
  .material-tabs {
    margin-top: 10px;
  }
}
input[type="submit"]:disabled{
  opacity: .5;
}
</style>
