<template>
  <div>
    <div class="container">
      <div class="general-exam-test">
        <div class="title">
          <div class="exam-level"></div>
          <div class="sub-name">
            <h4>الاختبار</h4>
            <img src="../../../assets/imgs/noun_testing_3325786.png" alt />
          </div>
        </div>

        <div class="general-exam-head">
          <div class="head-three">
            <div class="c100 p25 small" style="margin-top: 0;">
              <span>.</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          </div>
          <div class="unit lesson-uni head-two">
            <img src="../../../assets/imgs/laboratory.png" alt />
            <h4 style="display:inline-block">الكمياء</h4>
            <span>1</span>
            <h6>الوحدة الأولي - الدرس الأول</h6>
          </div>
        </div>

        <div class="questionHead row mb-5">
          <div class="col-md-5">
            <v-select v-model="questionType" label="name" :options="questionTypeOptions"></v-select>
          </div>
          <div class="col-md-5">
            <v-select v-model="questionLevel" label="name" :options="questionLevelOptions"></v-select>
          </div>
          <div class="col-md-2">
            <i
              style="color: rgb(255, 255, 255);font-size: 12px;cursor: pointer;background: #058ac6;padding: 7px;border-radius: 5px;box-shadow: 2px 2px 5px 0px #b9b9b9"
              @click="addNewQuestion()"
              class="fas fa-plus"
            ></i>
          </div>
        </div>
        <!-- {{questions}} -->
        <form action @submit.prevent>
          <div class="general-exam-content">
            <div class="row">
              <div
                v-for="(ques, index) in questions"
                :key="index"
                class="col-md-12"
                style="min-height: 250px;"
              >
                <div class="exam-cont-item">
                  <div>
                    <h6>{{ index + 1 }}</h6>
                    <!-- {{ques.type}} -->
                  </div>

                  <div class="questionHead">
                    {{ ques.typeName }}
                    <!-- {{ques.modelAnswer}} -->
                    <v-select v-model="ques.level" :options="questionLevelOptions" label="name"></v-select>

                    <i
                      style="background: rgb(241, 75, 75);font-size: 12px;cursor: pointer;color: #FFF;padding: 7px;border-radius: 5px;box-shadow: 2px 2px 5px 0px #b9b9b9"
                      @click="questions.splice(index, 1)"
                      class="fas fa-times"
                    ></i>
                  </div>
                </div>
                <transition enter-active-class="animate__animated animate__backInRight">
                  <component
                    :index="index"
                    :is="ques.type"
                    :question="ques"
                    @set-answer="setModalAnswer"
                    @set-question-head="updateQuestionHead"
                  ></component>
                </transition>
              </div>

              <div class="col-md-12">
                <input type="submit" value="تصحيح" />
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import trueorfalse from "../../../components/questions/TrueOrFalse";
import choose from "../../../components/questions/ChooseQusestions";
import paragraph from "../../../components/questions/Paragraph";
import complete from "../../../components/questions/completeQustions";

export default {
  components: {
    trueorfalse,
    choose,
    paragraph,
    complete
  },
  data() {
    return {
      questionLevel: "",
      questionLevelOptions: [
        { name: "سهل", value: "easy" },
        { name: "متوسط", value: "mid" },
        { name: "صعب", value: "difficulte" }
      ],
      questionType: "",
      questionTypeOptions: [
        { name: "صح و خطأ", value: "trueorfalse" },
        { name: "اختياري", value: "choose" },
        { name: "سؤال انشائي", value: "paragraph" },
        { name: "أكمل", value: "complete" }
      ],
      content: "",
      editorOption: {},

      completeQustion: [{ num: 1 }],

      answer: ["", "", "", ""],
      selectedComponents: "ArticleQuestions",
      questions: []
    };
  },

  watch: {
    questions: {
      handler: function(value) {
        this.questions.map(function(val, key) {
          val.difficultyLevel = val.level.value;
        });
      },
      deep: true
    }
  },

  methods: {
    setModalAnswer(e) {
      //   console.log("data", e);
      this.questions[e.index].modelAnswer = e.answer;
    },
    updateQuestionHead(e) {
      //   console.log("data", e);
      this.questions[e.index].head = e.head;
    },
    addNewQuestion() {
      if (this.questionLevel.value != "" && this.questionType.value != "") {
        // console.log(this.questionLevel.value);
        if (this.questionType.value == "trueorfalse") {
          this.questions.unshift({
            type: this.questionType.value,
            typeName: this.questionType.name,
            head: "",
            difficultyLevel: this.questionLevel.value,
            level: this.questionLevel,
            modelAnswer: ""
          });
        } else if (this.questionType.value == "choose") {
          this.questions.unshift({
            type: this.questionType.value,
            typeName: this.questionType.name,
            head: "",
            difficultyLevel: this.questionLevel.value,
            level: this.questionLevel,
            modelAnswer: 0,
            choices: ["", "", "", ""]
          });
        } else if (this.questionType.value == "complete") {
          this.questions.unshift({
            type: this.questionType.value,
            typeName: this.questionType.name,
            head: "",
            difficultyLevel: this.questionLevel.value,
            level: this.questionLevel,
            modelAnswer: [""]
          });
        } else if (this.questionType.value == "paragraph") {
          this.questions.unshift({
            type: this.questionType.value,
            typeName: this.questionType.name,
            head: "",
            difficultyLevel: this.questionLevel.value,
            level: this.questionLevel,
            modelAnswer: ""
          });
        }
      }
    },
    playAudio: function() {
      document.getElementById("player").play();
    },
    pauseAudio: function() {
      document.getElementById("player").pause();
    },
    increaseVolume: function() {
      document.getElementById("player").volume += 0.1;
    },
    decreaseVolume: function() {
      document.getElementById("player").volume -= 0.1;
    }
  }
};
</script>

<style lang="scss">
.fill-the-ques {
  span {
    width: 100%;
  }
}
.general-exam-test {
  input[type="submit"] {
    display: block;
    width: 36%;
    text-align: center;
    margin: 36px auto;
    padding: 9px;
    background: #058ac6;
    font-family: "CustomFontBold";
    color: #fff;
    border: 0;
    border-radius: 5px;
  }
  .audio-div {
    overflow: hidden;
    .audio-icon {
      display: block;
      width: 15%;
      float: right;
      text-align: center;
    }
    audio {
      display: block;
      width: 85%;
      float: left;
    }
  }
  .absthalk-radio {
    -webkit-appearance: none;
    width: 10px;
    display: block;
    height: 10px;
    /* background: #DDD; */
    padding: 15px 15px;
    border: 2px dotted #e3e3e3;
    outline: 0;
    position: relative;
    border-radius: 8px;
    float: right;
    &:checked {
      border: 2px dotted #058ac6;
      &::after {
        background-image: url("../../../assets/imgs/check.png");
        position: absolute;
        content: "";
        width: 65%;
        height: 60%;
        top: 4px;
        left: 6px;
        background-size: cover;
      }
    }
  }
  margin-top: 50px;
  .title {
    overflow: hidden;
    margin-bottom: 5px;
    .sub-name {
      h4 {
        display: block;
        font-size: 34px;
        margin-right: 12px;
        font-family: "CustomFontMedium";
        margin-bottom: 0;
        width: 87%;
        float: left;
        color: #058ac6;
      }
      img {
        display: block;
        width: 31px;
        float: left;
      }
    }
    .sub-name,
    .exam-level {
      display: block;
      width: 50%;
      float: left;
      padding-top: 13px;
    }
    .exam-level {
      text-align: left;
      padding: 20px 0;
      img {
        display: inline-block;
        width: 40px;
        margin-left: 17px;
        margin-top: -21px;
      }
      h6 {
        display: inline-block;
      }
    }
  }

  .general-exam-head {
    overflow: hidden;
    > div {
      float: left;
      &:first-of-type {
        width: 10%;
      }
      &:last-of-type {
        width: 90%;
        padding: 6px 1px;
        margin: 0;
        box-shadow: none;
        h4 {
          margin-left: 10px;
        }
        img {
          display: block;
          width: 27px;
          float: right;
          margin-left: 11px;
        }
      }
    }
    .unit {
      padding: 0;
    }
  }

  .form-group {
    .form-control {
      background: #fff;
      border: 0;
      box-shadow: 0px 0px 10px 1px #ddd;
      border-radius: 10px;
      font-family: "CustomFontRegular";
      color: #333;
      font-size: 16px;
      padding: 26px 19px;
    }
  }

  .general-exam-content {
    .exam-cont-item {
      .questionHead {
        i {
          color: #058ac6;
          cursor: pointer;
          padding: 8px 4px;
          background: #e4e4e4;
          border-radius: 9px;
        }
        padding: 7px;
        background: #f2f2f2;
        border-radius: 9px 0 0 9px;
        margin-bottom: 23px;
        .v-select {
          width: 47%;
          float: right;
          .vs__clear {
            fill: rgb(5, 138, 198);
            padding: 0;
            border: 0;
            background-color: transparent;
            cursor: pointer;
            margin-right: 8px;
            margin-left: 4px;
            margin-top: -4px;
          }

          .vs__open-indicator {
            fill: rgb(5, 138, 198);
            transform: scale(1);
            transition: transform 0.15s cubic-bezier(1, -0.115, 0.975, 0.855);
            transition-timing-function: cubic-bezier(1, -0.115, 0.975, 0.855);
          }

          .vs__dropdown-toggle {
            margin: 0 4px;
            /* padding: 24px 11px; */
            box-shadow: 0px 1px 10px 1px #efefef;
            border: 0;
            /* border-radius: 7px; */
            background: #f7f7f7;
          }
        }
      }
      > div {
        float: right;

        &:first-of-type {
          width: 9%;

          h6 {
            color: #ddd;
            background-color: #058ac6;
            padding: 15px;
            text-align: center;
            border-radius: 0 6px 6px 0;
          }
        }
        &:last-of-type {
          width: 91%;
          padding: 8px;
          background: #f2f2f2;
          border-radius: 9px 0 0 9px;
          margin-bottom: 23px;
        }
      }
    }
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .general-exam-test .title .sub-name h4 {
    display: block;
    font-size: 31px;
    margin-right: 8px;
    font-family: "CustomFontMedium";
    margin-bottom: 10px;
    width: 73%;
    float: left;
    color: #058ac6;
  }
  .exam-cont-item {
    margin: 28px 0 !important;
  }
  .questionHead {
    margin-bottom: 0 !important;
    i {
      margin-top: 18px !important;
      margin-right: 0px !important;
      &:first-of-type {
        margin-right: 10px !important;
      }
    }
  }
  .general-exam-test
    .general-exam-content
    .exam-cont-item
    .questionHead
    .v-select {
    width: 75%;
    float: right;
  }
  .general-exam-test .general-exam-head > div:last-of-type h4 {
    width: 13%;
    margin-bottom: 16px;
    font-size: 17px;
  }
  .unit h6 {
    font-size: 13px;
  }
  .fill-the-ques {
    font-size: 10px !important;
  }
  .general-exam-test .general-exam-head > div:last-of-type {
    width: 100%;
  }
  .general-exam-test .general-exam-head > div:first-of-type {
    width: 19%;
    margin-bottom: 18px;
  }

  .general-exam-test {
    padding-top: 60px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .general-exam-test {
    padding-top: 60px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

.editor {
  clear: both;
  border: 1px solid #eee;
  padding: 0;
  .menubar {
    padding: 10px;
    background: #333;
  }
  .editor__content {
    padding: 4px 29px;
  }
}
</style>
