<template>
  <div>
    <div class="add-subject">
      <div class="container">
        <div class="card-cont">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-6">
                <h3>المواد الدراسية</h3>
              </div>
              <div class="col-md-6 col-sm-6 col-6" style="text-align:left">
                <button @click="addItem">إضافة مادة</button>
              </div>
            </div>
          </div>
          <Loading v-if="isLoading" />
          <div class="cards-container" v-else>
            <div class="row" style="width: 100%;margin: auto;">
              <div class="col-md-3" v-for="(item, index) in subjects" :key="index">
                <div class="item product-card">
                  <nuxt-link :to="'/subjects/' + item.id + '/units'">
                    <CardItemWithPhoto :item="item" />
                  </nuxt-link>
                  <div class="pro-btns" slot="action-buttons">
                    <button @click="updateItem(item)">
                      <i class="fas fa-edit"></i> تعديل
                    </button>
                    <button @click="deleteItem(item)">
                      <i class="fas fa-trash-alt"></i>
                      حذف
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <card /> -->
        </div>
      </div>
    </div>
    <vs-popup class :title="title" :active.sync="showModal">
      <ValidationObserver v-slot="{ invalid }">
      <form action="">
        <div class="add-subject">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="form-groub">
                <h6>الإسم باللغة العربية</h6>
                <ValidationProvider rules="required|min:6" v-slot="{errors}">
                <input type="text" v-model="form.nameAr" class="form-control" placeholder />
                <div v-if="errors[0]" class="alert alert-danger"> {{errors[0]}} </div>
                </ValidationProvider>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-groub">
                <h6>الإسم باللغة الإنجليزية</h6>
                <ValidationProvider rules="required|min:6" v-slot="{errors}">
                  <input type="text" v-model="form.nameEn" class="form-control" placeholder />
                  <div v-if="errors[0]" class="alert alert-danger"> {{errors[0]}} </div>
                </ValidationProvider>
              </div>
            </div>
            <div class="col-md-6">
              <h6>الفصل الدراسي</h6>
                        <ValidationProvider rules="required" v-slot="{errors}">

              <v-select
                class="select-box"
                label="name"
                v-model="form.semester"
                :options="semesterOptions"
              ></v-select>
              <div v-if="errors[0]" class="alert alert-danger"> {{errors[0]}} </div>
              </ValidationProvider>
            </div>

            <div class="col-md-6">
              <div class="file-choose">
                <input type="file" @change="fileSelected" placeholder="قم بأرفاق أيقونه" />
                <img v-if="url != ''" style="max-width: 100%; max-height: 80%;" :src="url" />
                <span v-else>
                  <img src="../../../assets/imgs/noun_Camera_1903011.png" /> قم
                  بأرفاق أيقونة للمادة
                </span>
              </div>
            </div>
            <div class="col-md-4">
              <input
                v-if="edited"
                type="button"
                @click="update"
                value=" تعديل البيانات"
                class="basth-btn-primary"
              />
              <input
                v-else
                @click="addNewItem"
                value="  إضافة المادة "
                class="basth-btn-primary"
                type="submit"
                :disabled="invalid"
              />
            </div>
          </div>
        </div>
      </div>
      </form>
      </ValidationObserver>
    </vs-popup>
  </div>
</template>

<script>


// ******************************** Start Vee Validate options ******************************************

import { ValidationProvider } from 'vee-validate';
import { ValidationObserver } from 'vee-validate';

import { extend } from 'vee-validate';
import en from 'vee-validate/dist/locale/en.json';
import ar from 'vee-validate/dist/locale/ar.json';
import { email } from 'vee-validate/dist/rules';


localize('ar');

extend('min', {
  validate(value,args){
    return value.length >= args.length
  },
  params:['length']
});

extend('email', email);

extend('required', {
  validate (value) {
    return {
      required: true,
      valid: ['', null, undefined].indexOf(value) === -1,
      
    };
  },
  computesRequired: true
});




import { localize } from 'vee-validate';

localize({
  en: {
    messages: {
      required: 'this field is required',
      min: 'it is too Few you want to get doxed!',
      email: 'Email Must Be Valid'
    }
  },
  ar:{
    messages: {
      required: 'هذا الحقل مطلوب',
      min: 'عدد الحروف او الأرقام غير مناسب',
      email: 'من فضلك ادخل البريد الألكتروني بشكل صحيح'
    }
  }
});




// ****************************** End Vee Validate options ******************************


import CardItemWithPhoto from "../../../components/CardItemWithPhoto";
import Loading from "../../../components/Loading";
import card from "../../../components/card";

export default {
  name: "Subjects",
  components: {
    CardItemWithPhoto,
    card,
    Loading,
    ValidationProvider,
    ValidationObserver
  },
  data() {
    return {
      subjects: null,
      title: "",
      isLoading: true,
      url: "",
      photo: null,
      semesterOptions: [
        {
          name: "الأول",
          value: "first"
        },
        {
          name: "الثاني",
          value: "second"
        }
      ],

      edited: false,
      showModal: false,
      form: {
        id: "",
        semester: "",
        nameAr: "",
        nameEn: ""
      }
    };
  },
  created() {
    this.getSubjects();
  },
  methods: {
    fileSelected(e) {
      if (e.target.files.length > 0) {
        this.url = "";
        // console.log("files", e.target.files);
        this.photo = e.target.files[0];
        this.url = URL.createObjectURL(this.photo);
      }
    },
    getSubjects() {
      this.$axios
        .get(`class/${this.$route.params.id}/subjects`)
        .then(res => {
          this.isLoading = false;
          this.subjects = res.data.subjects;
        })
        .catch(err => {
          this.isLoading = false;
          console.log(err);
        });
    },
    updateItem(item) {
      this.title = "تعديل المادة الدراسية";
      this.form.id = item.id;
      this.form.nameAr = item.nameAr;
      this.form.nameEn = item.nameEn;
      this.url = item.icon;

      this.form.semester = this.semesterOptions.find(
        x => x.value === item.semester
      );
      this.edited = true;
      this.showModal = true;
    },
    addItem() {
      this.title = " إضافة مادة دراسية  ";
      this.edited = false;
      this.form.id = "";
      this.form.nameAr = "";
      this.form.nameEn = "";
      this.form.semester = "";
      this.url = "";
      this.showModal = true;
    },
    update() {
      let form_data = new FormData();
      form_data.append("nameAr", this.form.nameAr);
      form_data.append("nameEn", this.form.nameEn);
      form_data.append("semester", this.form.semester.value);
      if (this.photo != null) {
        form_data.append("icon", this.photo);
      }

      this.$axios
        .put(`subjects/${this.form.id}`, form_data, {
          headers: { "Content-Type": "multipart/form-data" }
        })
        .then(res => {
          this.getSubjects();
          this.showModal = false;
          this.$snotify.success(`تم تعديل البيانات بنجاح`);
        })
        .catch(err => {
          console.log(err);
        });
    },
    addNewItem() {
      let form_data = new FormData();
      form_data.append("nameAr", this.form.nameAr);
      form_data.append("nameEn", this.form.nameEn);
      form_data.append("semester", this.form.semester.value);
      if (this.photo != null) {
        form_data.append("icon", this.photo);
      }

      this.$axios
        .post(`classes/${this.$route.params.id}/subjects`, form_data, {
          headers: { "Content-Type": "multipart/form-data" }
        })
        .then(res => {
          this.getSubjects();
          this.showModal = false;
          this.$snotify.success(`تم إضافة المادة  بنجاح`);
        })
        .catch(err => {
          console.log(err);
        });
    },
    deleteItem(item) {
      this.$snotify.confirm("هل تريد حذف  المادة  المُحدد ", " هل أنت متأكد", {
        showProgressBar: true,
        closeOnClick: true,
        pauseOnHover: true,
        buttons: [
          {
            text: "موافق",
            action: toast => {
              this.$snotify.remove(toast.id);
              this.$axios
                .delete(`subjects/${item.id}`)
                .then(res => {
                  this.getSubjects();
                  this.$snotify.success(" تم الحذف بنجاح");
                })
                .catch(err => {
                  this.$snotify.error("للاسف حصل خطأ ما  ");
                });
            }
          },
          {
            text: "إلغاء",
            action: toast => {
              this.$snotify.remove(toast.id);
            }
          }
        ]
      });
    }
  }
};
</script>
<style scoped>
.con-vs-popup .vs-popup {
  width: 800px !important;
}
input[type="submit"]:disabled{
  opacity: .5;
}
</style>
