<template>
  <div class="determine-subject">
    <div class="container">
      <div class="card-cont">
        <div class="row">
          <div class="col-md-4">
            <h6>نوع التعليم</h6>
            <v-select
              class="select-box"
              @input="systemChange"
              label="nameAr"
              v-model="form.system"
              :options="systems"
            ></v-select>
          </div>

          <div class="col-md-4">
            <h6>المرحلة الدراسية</h6>
            <v-select
              class="select-box"
              @input="levelChange"
              label="nameAr"
              v-model="form.level"
              :options="levels"
            ></v-select>
          </div>

          <div class="col-md-4">
            <h6>اختر الصف الدراسي</h6>
            <v-select class="select-box" label="nameAr" v-model="form.class" :options="classes"></v-select>
          </div>

          <!-- <div class="col-md-4">
                    <h6>المادة</h6>
                   <v-select class="select-box" v-model="subj" :options="subjects"></v-select>
               </div>

                <div class="col-md-4">
                    <h6>الوحدة</h6>
                   <v-select class="select-box" v-model="lessons" :options="unitsOptions"></v-select>
               </div>

                <div class="col-md-4">
                    <h6>الدرس</h6>
                   <v-select class="select-box" v-model="units" :options="lessonsOptions"></v-select>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      systems: [],
      levels: [],
      classes: [],
      form: {
        system: "",
        level: "",
        class: "",
        semester: ""
      }
    };
  },
  created() {
    this.getSystems();
  },
  watch: {},
  methods: {
    getSystems() {
      this.$axios
        .get(`systems`)
        .then(res => {
          //   this.isLoading = false
          this.systems = res.data;
          console.log("Systems", res.data);
        })
        .catch(err => {
          //   this.isLoading = false
          console.log(err);
        });
    },
    systemChange() {
      this.form.level = "";
      this.levels = [];
      this.levels = this.systems.find(system => {
        return system.id === this.form.system.id;
      }).levels;
    },
    levelChange() {
      this.form.class = "";
      this.classes = [];
      this.classes = this.levels.find(level => {
        return level.id === this.form.level.id;
      }).classes;
    }
  }
};
</script>