<template>
  <div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="product-card">
        <div class="pro-img">
          <img src="../assets/imgs/english.jpg" alt="" />
        </div>
        <div class="pro-desc">
          <h6>اللغة الأنجليزية</h6>
          <p>English</p>
        </div>

        <div class="pro-btns">
          <button>
            <i class="fas fa-trash-alt"></i>
            حذف
          </button>
          <button><i class="fas fa-edit"></i> تعديل</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
$left: left;
$right: right;
$dir: rtl;

@if $dir == rtl {
  $left: right;
  $right: left;
} @else {
  $left: left;
  $right: right;
}

* {
  direction: $dir;
  text-align: $left;
}

.product-card {
  .pro-img {
    img {
      width: 100%;
      height: 100%;
    }
  }
  &:hover {
    transition: all 0.8s linear;
    transform: translate(0, -2px);
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px #eee;
  }
  background: #fbfbfb;
  margin-bottom: 26px;
  border-radius: 0 0 15px 15px;
  overflow: hidden;
  box-shadow: -3px 11px 23px 7px #f3f3f3;
  padding-top: 19px;
  border: 1px solid #ececec;
  border: 2px dashed #eee;
  .pro-image {
    padding: 0 10px;
    height: 150px;
    text-align: center;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .pro-desc {
    padding: 30px 10px;
    margin-top: 15px;
    min-height: 110px;
    h6,
    p {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: 0;
      font-size: 21px;
      text-align: center;
    }
    p {
      color: #c7c7c7;
      font-size: 12px;
      padding: 0 8px 6px;
    }
  }

  .pro-btns {
    button {
      display: block;
      text-align: center;
      outline: none;
      border: none;
      width: 50%;
      float: $left;
      padding: 10px;
      &:first-of-type {
        background-color: #f54e4ee3;
        color: #ffffff;
      }
      &:last-of-type {
        background-color: #098bc1;
        color: #fff;
      }
    }
  }
}
.carted {
  background: #f85056 !important;
  color: #fff;
}
.fa-trash-alt {
  color: #fff;
}
i.fa-heart.fas {
  color: #f85056;
}
</style>
