<template>
  <div>
    <div class="pro-desc">
      <h6>{{ item.nameAr }}</h6>
      <p>{{ item.nameEn }}</p>
    </div>
    <slot name="action-buttons" />
  </div>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  }
};
</script>

<style lang="scss">
$left: left;
$right: right;
$dir: rtl;

@if $dir == rtl {
  $left: right;
  $right: left;
} @else {
  $left: left;
  $right: right;
}
</style>
