<template>
  <div>
        <vs-col type="flex" vs-justify="center" vs-align="center" vs-w="3">
      <vs-card actionable class="cardx">
        <div slot="header">
          <h3>
            أزهر
          </h3>
        </div>
        <div slot="media">
          <!--<img :src="$withBase('/card.png')">-->
        </div>
        <div>
          <span>azhar</span>
        </div>
        <div slot="footer">
          <vs-row vs-justify="flex-end">
            <vs-button color="danger" type="gradient">
               <i class="fas fa-trash-alt"></i>
              حذف</vs-button>
            <vs-button color="primary" type="gradient" >
                <i class="fas fa-edit"></i>
              تعديل</vs-button>
            
          </vs-row>
        </div>
      </vs-card>
    </vs-col>

  </div>
</template>

<script>

export default {

}
</script>

<style>

</style>