<template>
  <div class="question-bank-card">
                  <div class="question-name">
                      <div>
                          <h5>السؤال /</h5>
                      <h6> {{head}} </h6>
                      </div>
                  </div>
                  <selectedImg v-if="image" :urlImg="image"></selectedImg>
                  <div class="question-body">
                      <div class="row">
                      <div class="col-md-12">
                         <div>
                              <h5 style="display:block">الأجابة /</h5>
                                       <selectedImg v-if="type != 'group'" :urlImg="modelAnswer"></selectedImg>
                         </div>
                      </div>
                      <div class="col-md-4">
                          <div>
                              <h5>النوع /</h5>
                                <h6> {{type}} </h6>
                          </div>
                      </div>

                       <div class="col-md-4">
                          <div>
                              <h5> الصعوبة/</h5>
                            <h6> {{dificulty}} </h6>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div>
                              <h5>بواسطة /</h5>
                            <h6> {{by}} </h6>
                          </div>
                      </div>
                  </div>
                  <div class="operations-buttons">
                      <slot name="add"></slot>
                      <slot name="remove"></slot>
                  </div>
                   <div class="another-button">
                      <slot name="edit"></slot>
                      <slot name="delete"></slot>
                  </div>
                  </div>
              </div>
</template>

<script>
import selectedImg from '../selectedImg'
export default {
    props:['head','type','dificulty','by','modelAnswer', 'image'],
    components:{
        selectedImg
    }
}
</script>

<style>

</style>