<template>
  <div class="question-bank-card">
                  <div class="question-name">
                      <div>
                          {{id}}
                          <h5>السؤال /</h5>
                      <h6> {{head}} </h6>
                      </div>
                  </div>
                  <selectedImg v-if="image" :urlImg="image"></selectedImg>
                  <div class="question-body">
                      <div class="row">
                      <div class="col-md-6">
                         <div>
                              <h5>الأجابة /</h5>
                              <h6> {{modelAnswer}} </h6>
                         </div>
                      </div>
                      <div class="col-md-6">
                          <div>
                              <h5>النوع /</h5>
                                <h6> {{type}} </h6>
                          </div>
                      </div>

                       <div class="col-md-6">
                          <div>
                              <h5> الصعوبة/</h5>
                            <h6> {{dificulty}} </h6>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div>
                              <h5>بواسطة /</h5>
                            <h6> {{by}} </h6>
                          </div>
                      </div>
                  </div>
                  <div class="solve-img">
                  </div>
                   <div class="operations-buttons">
                      <slot name="add"></slot>
                      
                  </div>
                  <div class="another-button">
                      <slot name="edit"></slot>
                      <slot name="delete"></slot>
                  </div>
                  </div>
              </div>
</template>

<script>
import selectedImg from '../selectedImg'
export default {
    props:['head','type','dificulty','by','modelAnswer','id','image'],
    components:{
        selectedImg
    }
}
</script>

<style lang="scss">
.question-bank-card{
    .operations-buttons{
        margin-bottom: 10px;
        button{
            font-family: "CustomFontRegular";
        }
    }
    .another-button{
        button{
               border: none;
    padding: 4px 15px;
    font-family: "CustomFontRegular";

        }
    }
}
</style>