<template>
  <div>
    <div class="add-subject">
      <div class="container">
        <div class="card-cont">
          <div class="card-header">
            <div class="row">
              <div class="col-md-6 col-sm-6 col-6">
                <h3>الصفوف الدراسية</h3>
              </div>
              <div class="col-md-6 col-sm-6 col-6" style="text-align:left">
                <button @click="addItem">إضافة صف</button>
              </div>
            </div>
          </div>
          <Loading v-if="isLoading" />

          <div class="cards-container" v-else>
            <div class="row" style="width: 100%;margin: auto;">
              <div
                class="col-md-3"
                v-for="(item, index) in classes"
                :key="index"
              >
                <div class="item product-card">
                  <nuxt-link :to="'/classes/' + item.id + '/subjects'">
                    <CardItem :item="item" />
                  </nuxt-link>
                  <div class="pro-btns" slot="action-buttons">
                    <button style="background:#098bc1" @click="updateItem(item)">
                      <i class="fas fa-edit"></i> تعديل
                    </button>
                    <button style="background:#f54e4ee3" @click="deleteItem(item)">
                      <i class="fas fa-trash-alt"></i>
                      حذف
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <vs-popup class :title="title" :active.sync="showModal">
      <div class="add-subject">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="form-groub">
                <h6>الإسم باللغة العربية</h6>
                <input
                  type="text"
                  v-model="form.nameAr"
                  class="form-control"
                  placeholder
                />
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-groub">
                <h6>الإسم باللغة الإنجليزية</h6>
                <input
                  type="text"
                  v-model="form.nameEn"
                  class="form-control"
                  placeholder
                />
              </div>
            </div>
            <div class="col-md-4">
              <input
                v-if="edited"
                type="button"
                @click="update"
                value=" تعديل البيانات"
                class="basth-btn-primary"
              />
              <input
                v-else
                type="button"
                @click="addNewItem"
                value="  إضافة الصف "
                class="basth-btn-primary"
              />
            </div>
          </div>
        </div>
      </div>
    </vs-popup>
  </div>
</template>

<script>
import CardItem from "../../../components/CardItem";
import Loading from "../../../components/Loading";

export default {
  components: {
    CardItem,
    Loading
  },
  data() {
    return {
      classes: null,
      title: "",

      edited: false,
      isLoading: true,
      showModal: false,
      form: {
        id: "",
        nameAr: "",
        nameEn: ""
      }
    };
  },
  created() {
    this.getClasses();
  },
  methods: {
    getClasses() {
      this.$axios
        .get(`levels/${this.$route.params.id}/classes`)
        .then(res => {
          this.isLoading = false;
          this.classes = res.data;
        })
        .catch(err => {
          this.isLoading = false;
          console.log(err);
        });
    },
    updateItem(item) {
      this.title = "تعديل الصف الدراسي";
      this.form.id = item.id;
      this.form.nameAr = item.nameAr;
      this.form.nameEn = item.nameEn;
      this.edited = true;
      this.showModal = true;
    },
    addItem() {
      this.title = " إضافة صف دراسي  ";
      this.edited = false;
      this.form.id = "";
      this.form.nameAr = "";
      this.form.nameEn = "";
      this.showModal = true;
    },
    update() {
      this.$axios
        .put(`classes/${this.form.id}`, this.form)
        .then(res => {
          this.getClasses();
          this.showModal = false;
          this.$snotify.success(`تم تعديل البيانات بنجاح`);
        })
        .catch(err => {
          console.log(err);
        });
    },
    addNewItem() {
      this.$axios
        .post(`levels/${this.$route.params.id}/classes`, this.form)
        .then(res => {
          this.getClasses();
          this.showModal = false;
          this.$snotify.success(`تم إضافة الصف دراسي بنجاح`);
        })
        .catch(err => {
          console.log(err);
        });
    },
    deleteItem(item) {
      this.$snotify.confirm(
        "هل تريد حذف  الصف دراسي المُحدد ",
        " هل أنت متأكد",
        {
          showProgressBar: true,
          closeOnClick: true,
          pauseOnHover: true,
          buttons: [
            {
              text: "موافق",
              action: toast => {
                this.$snotify.remove(toast.id);
                this.$axios
                  .delete(`classes/${item.id}`)
                  .then(res => {
                    this.getClasses();
                    this.$snotify.success(" تم الحذف بنجاح");
                  })
                  .catch(err => {
                    this.$snotify.error("للاسف حصل خطأ ما  ");
                  });
              }
            },
            {
              text: "إلغاء",
              action: toast => {
                this.$snotify.remove(toast.id);
              }
            }
          ]
        }
      );
    }
  }
};
</script>
