<template>
  <div class="check-box-ques">
    <h6>
      <section>
        <div>
          <input type="file"  />
          <i class="far fa-file-image"></i>
        </div>
      </section>
      <div class="form-group">
        <input v-model="head" type="text" placeholder="أدخل رأس السؤال" class="form-control" />
      </div>
    </h6>

    <selectedImg :urlImg="url"></selectedImg>

    <div class="ques-answer-btns">
      <div class="row">
        <div class="col-md-6" v-for="(item,index) in choices" :key="index">
          <div class="form-group">
            <input v-model="choices[index]" type="text" class="form-control" />
            <div class="radio-btn">
              <input type="radio" v-model="answerData" :name="index" :value="index" id />
            </div>
          </div>
        </div>
      </div>
    </div>

  
  </div>
</template>

<script>
import selectedImg from '../selectedImg'
export default {
  components:{
    selectedImg
  },
  props: {
    index: {
      type: Number,
      required: true
    },
    type: {
      type: Number,
      required: true
    },
    question: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      answerData: this.question.modelAnswer,
      head: this.question.head,
      choices: this.question.choices,
      imgShow: false,
      url:"",
      photo:""
    };
  },
  watch: {
    // answerData: function(val) {
    //   this.$emit("set-answer", {
    //     answer: val,
    //     index: this.index,
    //     type: this.type
    //   });
    // },
    // head: function(val) {
    //   this.$emit("set-question-head", {
    //     head: val,
    //     index: this.index,
    //     type: this.type
    //   });
    // }
  },
  methods: {
     
  }
};
</script>

<style lang="scss" scoped>
.ques-answer-btns {
  position: relative;
  input[type="text"] {
    background: #fff;
    border: 0;
    box-shadow: 0px 0px 10px 1px #ddd;
    border-radius: 10px;
    font-family: "CustomFontRegular";
    font-weight: bold;
    color: #333;
    font-size: 16px;
    margin-bottom: 14px !important;
  }
  .radio-btn {
    position: absolute;
    top: 0;
    left: 28px;
  }
  input[type="radio"] {
    -webkit-appearance: none;
    width: 23px;
    height: 25px;
    top: 12px;
    border: 1px solid #8b8b8b;
    padding: 14px;
    opacity: 1;
    border-radius: 18px;
    opacity: 0.2;
    position: relative;
    &::after {
      background-image: url("../../assets/imgs/correct.png");
      position: absolute;
      content: "";
      width: 60%;
      height: 60%;
      top: 6px;
      left: 5px;
      background-size: cover;
    }
    &:checked {
      border: 1px solid #058ac6;
      opacity: 1;
      padding: 14px;
      opacity: 1;
      border-radius: 18px;
      &::after {
        background-image: url("../../assets/imgs/check.png");
        position: absolute;
        content: "";
        width: 60%;
        height: 60%;
        top: 6px;
        left: 5px;
        background-size: cover;
      }
    }
  }
}
.selected {
  background: #333 !important;
}



</style>

