<template>
  <div class="check-box-ques">
    <h6>
      <section>
        <div>
          <input type="file" />
          <i class="far fa-file-image"></i>
        </div>
      </section>
      <div class="form-group">
        <input
          v-model="head"
          type="text"
          class="form-control"
          placeholder="أدخل رأس السؤال مع وضع نقاط في مكانها الصحيح"
        />
      </div>
    </h6>

    <div class="ques-answer-btns">
      <div class="row">
        <!-- <slot name="btns-choose-complete"></slot> -->
        <div class="col-md-6" v-for="(item,index) in answerData" :key="index">
          <input
            v-model="answerData[index]"
            style="padding: 24px; margin-bottom: 15px;"
            type="text"
            :class="{ 'form-control': true }"
          />
          <!-- @keypress.enter="selected" -->
          <span class="buttons-options-choose" style="position: absolute; left: 10px;">
            <i
              style="margin:0 1px;width: 47% !important;float: right;transition:all .5s ease;color: rgb(255, 255, 255); font-size: 12px; cursor: pointer; background: rgb(5, 138, 198); padding: 7px; border-radius: 5px; box-shadow: rgb(185, 185, 185) 2px 2px 5px 0px;"
              @click="answerData.push('')"
              class="addicon fas fa-plus"
            ></i>
            <i
              style="width: 47% !important;float: right;transition:all .5s ease;background: rgb(241, 75, 75); font-size: 12px; cursor: pointer; color: rgb(255, 255, 255); padding: 7px; border-radius: 5px; box-shadow: rgb(185, 185, 185) 2px 2px 5px 0px;"
              @click="answerData.splice(index, 1)"
              class="deleteicon fas fa-trash-alt"
            ></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    index: {
      type: Number,
      required: true
    },
    type: {
      type: Number,
      required: true
    },
    question: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      answerData: this.question.modelAnswer,
      head: this.question.head
    };
  },
  watch: {
    answerData: function(val) {
      this.$emit("set-answer", {
        answer: val,
        index: this.index,
        type: this.type
      });
    },
    head: function(val) {
      this.$emit("set-question-head", {
        head: val,
        index: this.index,
        type: this.type
      });
    }
  },
  methods: {}
};
</script>

<style lang="scss" scoped>
.ques-answer-btns {
  input {
    background: #fff;
    border: 0;
    box-shadow: 0px 0px 10px 1px #ddd;
    border-radius: 10px;
    font-family: "CustomFontRegular";
    font-weight: bold;
    color: #333;
    font-size: 16px;
  }
}
.selected {
  background: #333 !important;
}
</style>

