<template>
  <div class="check-box-ques">
    <h6 v-text="head"></h6>

    <div class="form-groub">
      <section>
        <div>
          <input type="file" />
          <i class="far fa-file-image"></i>
        </div>
      </section>
      <input
        v-model="head"
        style="width:100%;padding: 18px;"
        type="text"
        placeholder="ادخل السؤال هنا"
      />
    </div>

        <selectedImg urlImg="https://i.ibb.co/jTyC3LS/logo.png"></selectedImg>


    <div class="form-group editor" style="">
      <div class="img-quill" style="">
        <div class="img-quill-inner" style="">
          <input type="file" name="img-quill-upload" value="img-quill">
          <i class="fas fa-file-image" style=""></i>
        </div>
      </div>
            

      <div
        class="quill-editor content"
        v-quill:myQuillEditor="editorOption"
        v-model="head"
        placeholder="hello"
      ></div>
              <selectedImg urlImg="https://i.ibb.co/jTyC3LS/logo.png"></selectedImg>

    </div>
  </div>
</template>

<script>
import selectedImg from '../selectedImg'
export default {
  components:{
    selectedImg
  },
  props: {
    index: {
      type: Number,
      required: true
    },
    type: {
      type: Number,
      required: true
    },

    question: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      answerData: this.question.modelAnswer,
      head: this.question.head,
      content: "",
      'img-quill': '',
      editorOption: {
        placeholder: "أدخل النص"
      }
    };
  },

  watch: {
    answerData: function(val) {
      this.$emit("set-answer", {
        answer: val,
        index: this.index,
        type: this.type
      });
    },
    head: function(val) {
      this.$emit("set-question-head", {
        head: val,
        index: this.index,
        type: this.type
      });
    }
  }
};
</script>

<style lang="scss">
.ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
  right: auto !important;
}
.ql-snow .ql-stroke {
  stroke: #058ac6;
}
.ql-editor.ql-blank::before {
  right: 15px;

  left: auto;
  font-family: "CustomFontLight";
}
.ql-snow .ql-fill,
.ql-snow .ql-stroke.ql-fill {
  fill: #058ac6;
}
.ql-snow .ql-picker {
  color: #058ac6;
}
.check-box-ques {
  .form-groub {
    position: relative;
    clear: both;
    input[type="text"] {
      width: 100%;
      padding: 18px;
      margin-bottom: 10px;
      background: #fff;
      border: 0;
      box-shadow: 0px 0px 10px 1px #ddd;
      border-radius: 10px;
      font-family: "CustomFontRegular";
      color: #333;
      font-size: 16px;
    }

    .ql-editor.ql-blank {
      min-height: 200px !important;
    }
    .content {
      background: #fff;
      border: 0;
      box-shadow: 0px 0px 10px 1px #ddd;
      border-radius: 10px;
      font-family: "CustomFontRegular";
      color: #333;
      font-size: 16px;
      padding: 26px 19px;
    }
    section {
      position: absolute;
      left: 0;
      padding: 0;
      box-shadow: none;
      div {
        position: relative;
        input[type="file"] {
          opacity: 0;
          height: 58px;
          cursor: pointer;
          position: relative;
          width: 54px;
          z-index: 3;
        }
        i {
          cursor: pointer;
          position: absolute;
          top: 19px;
          right: le;
          left: 15px;
          font-size: 24px;
          color: #058ac6;
        }
      }
    }
  }
  textarea {
    resize: none;
    background: #fff;
    border: 0;
    box-shadow: 0px 0px 10px 1px #ddd;
    border-radius: 10px;
    font-family: "CustomFontRegular";
    color: #333;
    font-size: 16px;
    margin-top: 11px;
  }
  .editor.form-group{
    position:relative;
    .img-quill{
      position:absolute;
      top:0;
      left:0;
      .img-quill-inner{
        position:relative;
        top: 8px;
        left: 20px;
        input{
          position:absolute;top:0;left:0;width:100%;height:100%;opacity: 0;
          
        }
        i{
            color: #058ac6;font-size: 20px;cursor: pointer;
          }
      }
    }
  }
  .editor {
    .ql-container {
      height: 100%;
      margin: 0px !important;
      position: relative !important;
    }
  }

  .ql-editor {
    min-height: 250px !important;
  }
  .form-group.editor {
    background: #fff;
    border: 0;
    box-shadow: 0px 0px 10px 1px #ddd;
    border-radius: 10px;
    font-family: "CustomFontRegular";
    color: #333;
    font-size: 16px;
  }
  .ql-toolbar{
    button[value="bullet"]{
      display: none !important;
    }
    button[value="ordered"]{
      display: none !important;
    }
    button[value="+1"]{
      display: none !important;
    }
    button[value="-1"]{
      display: none !important;
    }
    button.ql-link{
      display: none !important;
    }
    button.ql-video{
       display: none !important;
    }
    button.ql-clean{
      display: none !important;
    }
    button.ql-code-block{
      display: none !important;
    }
    span.ql-color.ql-picker.ql-color-picker{
      display: none !important;
    }
    button.ql-script{
      display: none;
    }
    button.ql-image{
      display: none !important;
    }
  }
  .ql-toolbar.ql-snow {
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;

    border-style: solid;
    border-color: #ccc;
  }
  .ql-toolbar.ql-snow + .ql-container.ql-snow {
    border: none !important;
  }
  .ql-snow {
    u {
      text-decoration: underline !important;
    }
  }
}
</style>

