<template>
  <div class="check-box-ques">
    <h6>
      <section>
        <div>
          <input type="file" />
          <i @change="imgUpload" class="far fa-file-image"></i>
        </div>
      </section>
      <div class="form-group">
        <input v-model="head" type="text" placeholder="أدخل رأس السؤال" class="form-control" />
      </div>
    </h6>

    <selectedImg :urlImg="url"></selectedImg>

    <div class="ques-answer-btns">
      <div class="row">
        <div class="col-md-6" v-for="(item,index) in question.choices" :key="index">
          <div class="form-group">
            <input v-model="question.choices[index]" type="text" class="form-control" />
            <div class="radio-btn">
              <input type="radio" v-model="answerData" :name="index" :value="index" id />
            </div>
          </div>
        </div>
      </div>
    </div>

  
  </div>
</template>

<script>
import selectedImg from '../../selectedImg'
export default {
  components:{
    selectedImg
  },
  computed:{
      
  },
  props: {
    question: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
    //   answerData: this.question.modelAnswer,
    //   head: this.question.head,
    //   choices: this.question.choices,
    //   imgShow: false
    url:"",
    photo:""
    };
  },
  methods:{
      imgUpload: function(e){
         if (e.target.files.length > 0) {
        this.url = "";
        console.log("files", e.target.files);
        this.photo = e.target.files[0];
        this.url = URL.createObjectURL(this.photo);
        console.log(this.url)
      }
      this.$store.state["choose-answer-data"] = this.url
      var form_data = new FormData()
      if (this.photo != null) {
        form_data.append("icon", this.photo);
      }
      }
  },
  computed:{
       answerData:{
          get(){
              return this.$store.getters["choose-answer-data-getters"]
          },
          set(answerData){
              this.$store.commit("choose-answer-data-mutation", answerData)
          }
      },
      head:{
           get(){
              return this.$store.getters["choose-head-getters"]
          },
          set(answerData){
              this.$store.commit("choose-head-mutation", answerData)
          }
      }
  }
};
</script>

<style lang="scss" scoped>
.ques-answer-btns {
  position: relative;
  input[type="text"] {
    background: #fff;
    border: 0;
    box-shadow: 0px 0px 10px 1px #ddd;
    border-radius: 10px;
    font-family: "CustomFontRegular";
    font-weight: bold;
    color: #333;
    font-size: 16px;
    margin-bottom: 14px !important;
  }
  .radio-btn {
    position: absolute;
    top: 0;
    left: 28px;
  }
  input[type="radio"] {
    -webkit-appearance: none;
    width: 23px;
    height: 25px;
    top: 3px;
    border: 1px solid #8b8b8b;
    padding: 14px;
    opacity: 1;
    border-radius: 18px;
    opacity: 0.2;
    position: relative;
    &::after {
      background-image: url("../../../assets/imgs/correct.png");
      position: absolute;
      content: "";
      width: 60%;
      height: 60%;
      top: 6px;
      left: 5px;
      background-size: cover;
    }
    &:checked {
      border: 1px solid #058ac6;
      opacity: 1;
      padding: 14px;
      opacity: 1;
      border-radius: 18px;
      &::after {
        background-image: url("../../../assets/imgs/check.png");
        position: absolute;
        content: "";
        width: 60%;
        height: 60%;
        top: 6px;
        left: 5px;
        background-size: cover;
      }
    }
  }
}
.selected {
  background: #333 !important;
}



</style>

