<template>
  <div class="check-box-ques">
    <h6>
      <section>
        <div>
          <!-- <input type="file" @change="imgUpload" /> -->
          <!-- <i class="far fa-file-image"></i> -->
        </div>
      </section>
      <div class="form-group">
        <input
          v-model="head"
          type="text"
          class="form-control"
          placeholder="أدخل رأس السؤال مع وضع نقاط في مكانها الصحيح"
        />
      </div>
    </h6>

    <div class="ques-answer-btns">
      <div class="row">
        <!-- <slot name="btns-choose-complete"></slot> -->
        <div class="col-md-6" v-for="(item,index) in $store.state['complete-answer-data']" :key="index">
          <input
            v-model="answerData[index]"
            style="padding: 24px; margin-bottom: 15px;"
            type="text"
            
            :class="{ 'form-control': true }"
          />
          <span class="buttons-options-choose" style="position: absolute; left: 10px;">
            <i
              style="margin:0 1px;width: 47% !important;float: right;transition:all .5s ease;color: rgb(255, 255, 255); font-size: 12px; cursor: pointer; background: rgb(5, 138, 198); padding: 7px; border-radius: 5px; box-shadow: rgb(185, 185, 185) 2px 2px 5px 0px;"
              @click="$store.state['complete-answer-data'].push('')"
              class="addicon fas fa-plus"
            ></i>
            <i
              style="width: 47% !important;float: right;transition:all .5s ease;background: rgb(241, 75, 75); font-size: 12px; cursor: pointer; color: rgb(255, 255, 255); padding: 7px; border-radius: 5px; box-shadow: rgb(185, 185, 185) 2px 2px 5px 0px;"
              @click="$store.state['complete-answer-data'].splice(index, 1)"
              class="deleteicon fas fa-trash-alt"
            ></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    question: {
      type: Object,
      required: true
    }
  },
  computed:{
      answerData:{
          get(){
              return this.$store.getters["complete-answer-data-getters"]
          },
          set(answerData){
              this.$store.commit("complete-answer-data-mutation", answerData)
          }
      },
      head:{
           get(){
              return this.$store.getters["complete-head-getters"]
          },
          set(answerData){
              this.$store.commit("complete-head-mutation", answerData)
          }
      }
  },
  data() {
    return {
    //   answerData: this.question.modelAnswer,
    //   head: this.question.head
    url: "",
    photo:""
    };
  },
  watch: {
    // answerData: function(val) {
    //   this.$emit("set-answer", {
    //     answer: val,
    //     index: this.index,
    //     type: this.type
    //   });
    // },
    // head: function(val) {
    //   this.$emit("set-question-head", {
    //     head: val,
    //     index: this.index,
    //     type: this.type
    //   });
    // }
  },
  methods: {
    //    imgUpload: function(e){
    //      if (e.target.files.length > 0) {
    //     this.url = "";
    //     console.log("files", e.target.files);
    //     this.photo = e.target.files[0];
    //     this.url = URL.createObjectURL(this.photo);
    //     console.log(this.url)
    //   }
    //   this.$store.state["choose-answer-data"] = this.url
    //   var form_data = new FormData()
    //   if (this.photo != null) {
    //     form_data.append("icon", this.photo);
    //   }
    //   }
  }
};
</script>

<style lang="scss" scoped>
.ques-answer-btns {
  input {
    background: #fff;
    border: 0;
    box-shadow: 0px 0px 10px 1px #ddd;
    border-radius: 10px;
    font-family: "CustomFontRegular";
    font-weight: bold;
    color: #333;
    font-size: 16px;
  }
}
.selected {
  background: #333 !important;
}
</style>

