<template>
  <div class="check-box-ques">
    <h6>
      <section>
        <div>
          <input @change="imgUpload" type="file" />
          <i class="far fa-file-image"></i>
        </div>
      </section>
      <div class="form-group">
        <input v-model="head" type="text" placeholder="أدخل رأس السؤال" class="form-control" />
      </div>
    </h6>

    <selectedImg :urlImg="url" />

    <div style="overflow:hidden;display: block;float: left;width: 30%;margin-top: 50px;">
      <input
        v-model="answerData"
        type="radio"
        name="truefalse"
        class="absthalk-radio"
        value="false"
      />
      <span class="truefalselabel">خطأ</span>
    </div>

    <div style="margin-top: 50px;overflow:hidden;display: block;float: left;width: 30%;">
      <input v-model="answerData" type="radio" name="truefalse" value="true" class="absthalk-radio" id />
      <span class="truefalselabel">صح</span>
    </div>
  </div>
</template>

<script>
import selectedImg from '../../selectedImg'

export default {
  props: {
    // index: {
    //   type: Number,
    //   required: true
    // },
    // type: {
    //   type: Number,
    //   required: true
    // },

    question: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
    //   answerData: this.question.modelAnswer,
    //   head: this.question.head
    url:"",
    photo:""
    };
  },

  computed:{
      answerData:{
          get(){
              return this.$store.getters["truefalse-answer-data-getters"]
          },
          set(answerData){
              this.$store.commit("truefalse-answer-data-mutation", answerData)
          }
      },
      head:{
           get(){
              return this.$store.getters["truefalse-head-getters"]
          },
          set(answerData){
              this.$store.commit("truefalse-head-mutation", answerData)
          }
      }
  },

  watch: {
    // answerData: function(val) {
    //   if (val == "true") {
    //     this.$emit("set-answer", {
    //       answer: true,
    //       index: this.index,
    //       type: this.type
    //     });
    //   } else
    //     this.$emit("set-answer", {
    //       answer: false,
    //       index: this.index,
    //       type: this.type
    //     });
    // },
    // head: function(val) {
    //   this.$emit("set-question-head", {
    //     head: val,
    //     index: this.index,
    //     type: this.type
    //   });
    // }
  },
  methods: {
      imgUpload: function(e){
         if (e.target.files.length > 0) {
        this.url = "";
        console.log("files", e.target.files);
        this.photo = e.target.files[0];
        this.url = URL.createObjectURL(this.photo);
        console.log(this.url)
      }
      this.$store.state["normal-ques-image"] = this.url
      var form_data = new FormData()
      if (this.photo != null) {
        form_data.append("icon", this.photo);
      }
      }
  },
  components:{
      selectedImg
  }
};
</script>

<style lang="scss">
.check-box-ques {
  section {
    position: absolute;
    left: 0;
    padding: 0;
    box-shadow: none;
    top: -4px;
    div {
      position: relative;
      input[type="file"] {
        opacity: 0;
        height: 58px;
        cursor: pointer;
        position: relative;
        width: 54px;
        z-index: 3;
      }
      i {
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: le;
        left: 15px;
        font-size: 24px;
        color: #058ac6;
      }
    }
  }
  .absthalk-radio {
    -webkit-appearance: none;
    width: 10px;
    display: block;
    height: 10px;
    /* background: #DDD; */
    padding: 15px 15px;
    border: 2px dotted #e3e3e3;
    outline: 0;
    position: relative;
    border-radius: 8px;
    float: right;
    &:checked {
      border: 2px dotted #058ac6;
      &::after {
        background-image: url("../../../assets/imgs/check.png");
        position: absolute;
        content: "";
        width: 65%;
        height: 60%;
        top: 4px;
        left: 6px;
        background-size: cover;
      }
    }
  }
  .buttons-options-choose {
    display: block;
    float: right;
    font-size: 18px;
    font-family: "CustomFontMedium";
    padding-top: 3px;

    margin: 0 6px;
    top: 11px;
    left: 0px;
    padding: 0 3px;
  }
  > img {
    width: 100%;
    height: 207px;
    margin-bottom: 34px;
    box-shadow: 0px 1px 10px -1px #ddd;
    border-radius: 17px;
  }
  h6 {
    margin-bottom: 15px;
    color: 20px;
    margin-top: 22px;
    color: #898989;
    position: relative;
    clear: both;
  }
  .ques-answer-btns {
    button {
      padding: 14px;
      width: 100%;
      text-align: center;
      background: #fff;
      border: 0;
      box-shadow: 0px 0px 10px 1px #ddd;
      border-radius: 10px;
      font-family: "CustomFontRegular";
      font-weight: bold;
      color: #333;
      font-size: 16px;
    }
  }
  .file-choose {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 13px;
    input[type="file"] {
      position: absolute;
      width: 100%;
      /* visibility: hidden; */
      opacity: 0;
      height: 100%;
      cursor: pointer;
      margin-top: 10px;
    }
    span {
      border: 1px dashed #444444;
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      background: #fff;
      z-index: -1;
      margin: 10px 0;
      height: 100%;
      text-align: center;
      cursor: pointer;
      border-radius: 15px;
      line-height: 186px;
      color: #444444;
    }
  }
}
</style>
