<template>
  <div>
    <div class="index-page">This is Content</div>
  </div>
</template>

<script>
export default {
  name: "Home",
  components: {}
};
</script>

<style lang="scss">
.index-page {
  height: 100vh;
  padding-right: 83px;
}
</style>
