<template>
  <div class="questions-bank-outer">
    <div class="container">
     
      <div class="questions-bank-inner">
        <vs-button style="outline:none;" @click="main(true)" type="line">الاسئلة الرئيسية</vs-button>
        <vs-button style="outline:none;" @click="main(false)" type="line">اسئلة الامتحان</vs-button>

        

        <div v-show="this.$store.state.main">
           <div>
                  
        <div class="row">
          <div class="col-md-3">
            <div class="filters">
              <div class="row">
                <div class="filter col-md-12">
                  <h6>نوع التعليم</h6>
                  <v-select
                    class="select-box"
                    @input="systemChange"
                    label="nameAr"
                    v-model="systemBind"
                    :options="systems"
                  ></v-select>
                </div>
                <div class="filter col-md-12">
                  <h6>المرحلة الدراسية</h6>
                  <v-select
                    class="select-box"
                    @input="levelChange"
                    label="nameAr"
                    v-model="levelBind"
                    :options="levels"
                  ></v-select>
                </div>
                <div class="filter col-md-12">
                  <h6>اختر الصف الدراسي</h6>
                  <v-select
                    class="select-box"
                    label="nameAr"
                    @input="getSubjects"
                    v-model="classBind"
                    :options="classes"
                  ></v-select>
                </div>
                <div class="filter col-md-12">
                  <h6>اسم المادة</h6>
                  <v-select
                    v-model="subjectBind"
                    @input="getQuestions"
                    label="nameAr"
                    :options="subjects2"
                  ></v-select>
                </div>

                <div class="filter col-md-12">
                  <h6>اسم الوحدة</h6>
                  <v-select
                    v-model="unitsBind"
                    label="name"
                    :options="units2"
                    @input="filter_unit"
                  ></v-select>
                </div>

                <div class="filter col-md-12">
                  <h6>اسم الدرس</h6>
                  <v-select
                    class="select-box"
                    @input="lessonFilter"
                    label="name"
                    v-model="lessonBind"
                    :options="lessons"
                  ></v-select>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-9">
            <Loading v-if="this.$store.state.isLoad"></Loading>
            <div class="empty-questions" v-else-if="this.$store.state.questions.length == 0">
              <img src="../assets/imgs/undraw_searching_p5ux.svg" alt="" />
              <h4 class="no-questions">لاتوجد اسئلة متوفرة</h4>
            </div>
            <div v-else class="questions-part" style="padding-bottom: 56px;">
              <QuestionsBankCard
                v-for="(ques,index) in this.$store.state.questions"
                :key="ques.id"
                :modelAnswer="ques.modelAnswer"
                :type="ques.type"
                :by="ques.addedBy"
                :dificulty="ques.difficultyLevel"
                :head="ques.head"
                :id="ques.id"
                :image="ques.image"
                
              >
                      <button slot="add"  @click="addNormalQuestions({ id: ques.id ,head:ques.head, type:ques.type, modelAnswer: ques.modelAnswer, by: ques.addedBy, dificulty:ques.difficultyLevel, isExamQues: false }, index,$event)" class="btn btn-primary">
                          {{questionBtnContent}}
                      </button>
                      <button class="btn btn-success" slot="edit" @click="editNormalQuestion(ques)">
                        تعديل
                      </button>
                      <button class="btn btn-danger" @click="deleteQuestion(ques,index)" slot="delete" >
                        حذف
                      </button>
                     <!-- @click="questionsExam.push({ head:ques.head, type:ques.type, modelAnswer: ques.modelAnswer, by: ques.addedBy, dificulty:ques.difficultyLevel }), clickedToggle(index,$event)" -->
              </QuestionsBankCard>
              <ParagraphCard
                v-for="(paraQues,index) in this.$store.state.ParagraphQuestions"
                :key="paraQues.id"
                :modelAnswer="paraQues.modelAnswer"
                :type="paraQues.type"
                :by="paraQues.addedBy"
                :dificulty="paraQues.difficultyLevel"
                :head="paraQues.head"
                :id="paraQues.id"
                :image="paraQues.image"
                  
              >
                      <button slot="add" @click="addGroupQuestion({ id: paraQues.id ,head:paraQues.head, type:paraQues.type, modelAnswer: paraQues.modelAnswer, by: paraQues.addedBy, dificulty:paraQues.difficultyLevel, image: paraQues.image },index , $event)" class="btn btn-primary">
                          {{questionBtnContent}}
                      </button>
                      <button class="btn btn-success" slot="edit" @click="editParaQuestion(paraQues)">
                        تعديل
                      </button>
                      <button class="btn btn-danger" @click="deleteParaQuestion(paraQues,index)" slot="delete" >
                        حذف
                      </button>

                   
              </ParagraphCard>
            </div>
            <!-- <div
              style="position: absolute;bottom: 0;left: 50%;transform: translate(-50%);"
            >
              <vs-pagination
                :total="this.$store.state.totalpages"
                v-model="this.$store.state.currentx"
                prev-icon="arrow_back"
                next-icon="arrow_forward"
              ></vs-pagination>
            </div> -->
          </div>
        </div>
              </div>
        </div>
        <div v-show="!this.$store.state.main">
          <div>
                <div class="exam-questions">
                  <div class="row">
                    <div class="col-md-12">
                      <div v-for="(questionexam, index) in this.$store.state.questionsExam" :key="index" class="exam-question">
                        <QuestionsBankCard 
                         v-if="questionexam.type != 'paragraph' && questionexam.type != 'group'"
                         :modelAnswer="questionexam.modelAnswer"
                          :type="questionexam.type"
                          :by="questionexam.by"
                          :dificulty="questionexam.difficultyLevel"
                          :head="questionexam.head"
                           :image="questionexam.image"
                          
                         >
                          <!-- <button  class="btn btn-danger" slot="remove">
                            حذف من اسئلة الامتحان
                          </button> -->
                          <!-- @click="removeExamQuestion(index, $event)"  -->
                         </QuestionsBankCard>
                         <ParagraphCard v-else
                         :modelAnswer="questionexam.modelAnswer"
                          :type="questionexam.type"
                          :by="questionexam.addedby"
                          :dificulty="questionexam.difficultyLevel"
                          :head="questionexam.head"
                          :img="questionexam.img"
                         >
                         <!-- <button class="btn btn-danger" slot="remove">
                           حذف من اسئلة الامتحان
                         </button> -->
                         <!-- @click="removeExamQuestion(index, $event)"  -->

                         </ParagraphCard>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>



        
      <div class="centerx">
                    
                    <vs-popup
                      class="holamundo"
                      title="تعديل سؤال"
                      :active.sync="editNormalPop"
                    >

                    <component  :question="$store.state.normalQues" :is="selectedComponent">

                    </component>
                          <!-- <div class="form-group">
                            <h6>رأس السؤال</h6>
                              <input v-model="questionEdit.head" type="text" class="form-control">
                          </div>
                            <h6>الاجابة الصحيحة</h6>
                           <div class="form-group">
                              <input v-model="questionEdit.modelAnswer" type="text" class="form-control">
                           </div> -->
                          
                          <vs-button @click="editNormalQuestionMain" style="background:rgb(5, 138, 198)!important"
                          >تعديل</vs-button
                        >
                    </vs-popup>
                  </div>



                  <div class="centerx">
                    
                    <vs-popup
                      class="holamundo"
                      title="تعديل سؤال"
                      :active.sync="editParaPop"
                    >

                    <component  :question="$store.state.paraQues" :is="selectedComponentPara">

                    </component>
                          <!-- <div class="form-group">
                            <h6>رأس السؤال</h6>
                              <input v-model="questionEdit.head" type="text" class="form-control">
                          </div>
                            <h6>الاجابة الصحيحة</h6>
                           <div class="form-group">
                              <input v-model="questionEdit.modelAnswer" type="text" class="form-control">
                           </div> -->
                          
                          <vs-button @click="editParaQuestionMain" style="background:rgb(5, 138, 198)!important"
                          >تعديل</vs-button
                        >
                    </vs-popup>
                  </div>

       

        



      </div>
    </div>
  </div>
</template>

<script>
import selectedImg from "../components/selectedImg";
import QuestionsBankCard from "../components/questions-bank/QuestionsBankCard";
import ParagraphCard from "../components/questions-bank/ParagraphCard";
import Loading from "../components/Loading";

import paragraph from '../components/questions/questions-pop-up/paragraph'
import choose from '../components/questions/questions-pop-up/choose'
import complete from '../components/questions/questions-pop-up/complete'
import truefalse from '../components/questions/questions-pop-up/truefalse'

export default {
   components: {
    selectedImg,
    QuestionsBankCard,
    ParagraphCard,
    Loading,

    paragraph,
    choose,
    complete,
    truefalse
  },
  data() {
    return {
      removedFromExam: false,
      paraQuesIndex: 0,
      
      questionEdit:{
        head:"",
        modelAnswer:""
      },
      normalQuesIndex: 0,
      editParaPop: false,
      
      editNormalPop: false,
     
    };
  },
  computed:{
    selectedComponent: function(){
      return this.$store.state.normalQues.type == 'group' ? 'paragraph' : this.$store.state.normalQues.type; 
    },
    selectedComponentPara: function(){
      return this.$store.state.paraQues.type == 'group' ? 'paragraph' : this.$store.state.paraQues.type; 
    },
    systems(){
      return this.$store.state.systems
    },
    levels(){
      return this.$store.state.levels
    },
    classes(){
      return this.$store.state.classes
    },
    units2(){
      return this.$store.state.units
    },
    subjects2(){
      return this.$store.state.subjects
    },
    units(){
      return this.$store.state.form.unit
    },
    lessons(){
      return this.$store.state.lessonOptions
    },
    oldVal(){
      return this.$store.getters.oldVal
    },
    systemBind:{
      get(systemBind){
        return this.$store.getters.changeSystems
      },
      set(systemBind){
        return this.$store.commit("systemChangeM",systemBind)
      }
      // 
    },
    levelBind:{
      get(levelBind){
        return this.$store.getters.changeLevel
      },
      set(levelBind){
        return this.$store.commit("levelBind",levelBind)
      }
    },
    classBind:{
      get(classBind){
        return this.$store.getters.changeClass
      },
      set(classBind){
        return this.$store.commit('classBind', classBind)
      }
    },
    subjectBind:{
      get(subjectBind){
        return this.$store.getters.changeSubject
      },
      set(subjectBind){
        return this.$store.commit('subjectBind',subjectBind)
      }
    },
    unitsBind:{
      get(unitsBind){
        return this.$store.getters.changeUnits
      },
      set(unitsBind){
        return this.$store.commit('unitsBind',unitsBind)
      }
    },
    lessonBind:{
      get(lessonBind){
        return this.$store.getters.changeLesson
      },
      set(lessonBind){
        return this.$store.commit('lessonBind',lessonBind)
      }
    },
    questionBtnContent: function(){
      return this.$store.getters.questionBtnContent
    }
    
  },

 
  created() {
    console.log('created')
      this.getSystems()
  },
  watch: {
    // currentx: function(val) {
    //   this.isLoad = true;
    //   this.$axios
    //     .get(`subjects/${this.form.subject.id}/questions?page=${val}`)
    //     .then(res => {
    //       this.ParagraphQuestions = [];
    //       this.questions = [];
    //       res.data.docs.filter(question => {
    //         if (question.type == "paragraph" || question.type == "group") {
    //           this.ParagraphQuestions.push(question);
    //         } else {
    //           this.questions.push(question);
    //         }
    //       });
    //       console.log(res.data);
    //     })
    //     .finally(() => {
    //       this.isLoad = false;
    //     });
    // }


    // removedFromExam: function(val){
    //   if(val == true){
    //       this.$store.state.removeContent = "حذف من قائمة الأسئلة"
    //          this.$store.state.bgColorQues = '#e21d1d'
    //   }
    // }


  },
  methods: {


    deleteQuestion: function(ques,index){


      this.$snotify.confirm("هل تريد حذف  السؤال  المُحدد ", " هل أنت متأكد", {
        showProgressBar: true,
        closeOnClick: true,
        pauseOnHover: true,
        buttons: [
          {
            text: "موافق",
            action: toast => {
              this.$snotify.remove(toast.id);
              this.$axios.delete(`questions/${ques.id}`)
      .then(res => {
        console.log(res.data)
       var RealIndex = this.$store.state.questions.indexOf(this.$store.state.questions.find(question => question.id == ques.id))
       this.$store.state.questions.splice(RealIndex, 1)
       this.$snotify.success(`تم حذف البيانات بنجاح`);
      })
                .catch(err => {
                  this.$snotify.error("للاسف حصل خطأ ما  ");
                });
            }
          },
          {
            text: "إلغاء",
            action: toast => {
              this.$snotify.remove(toast.id);
            }
          }
        ]
      });
    


     
    },


    
    deleteParaQuestion: function(ques,index){


      this.$snotify.confirm("هل تريد حذف  السؤال  المُحدد ", " هل أنت متأكد", {
        showProgressBar: true,
        closeOnClick: true,
        pauseOnHover: true,
        buttons: [
          {
            text: "موافق",
            action: toast => {
              this.$snotify.remove(toast.id);
              this.$axios.delete(`questions/${ques.id}`)
      .then(res => {
        console.log(res.data)
       var RealIndex = this.$store.state.ParagraphQuestions.indexOf(this.$store.state.ParagraphQuestions.find(question => question.id == ques.id))
       this.$store.state.ParagraphQuestions.splice(RealIndex, 1)
       this.$snotify.success(`تم حذف البيانات بنجاح`);
      })
                .catch(err => {
                  this.$snotify.error("للاسف حصل خطأ ما  ");
                });
            }
          },
          {
            text: "إلغاء",
            action: toast => {
              this.$snotify.remove(toast.id);
            }
          }
        ]
      });
    


     
    },

    editNormalQuestionMain: function(){
      if(this.$store.state.normalQues.type == 'complete'){
          this.$axios.put(`https://basthalk-be.herokuapp.com/api/v1/questions/${this.$store.state.normalQues.id}`, {
          head: this.$store.state['complete-head'],
          modelAnswer:this.$store.state['complete-answer-data'],
          image: this.$store.state["normal-ques-image"]
          })
          .then(res => {
            this.editNormalPop = false
            this.$store.state['complete-head'] = '',
            this.$store.state['complete-answer-data'] = [""],
            this.$snotify.success(`تم تعديل البيانات بنجاح`);
            console.log(res)
            let oldOQuestion = this.$store.state.questions.find(ques => ques.id === this.$store.state.normalQues.id)
            oldOQuestion.head = res.data.head
            oldOQuestion.modelAnswer = res.data.modelAnswer
            oldOQuestion.image = res.data.image
          })
      }else if(this.$store.state.normalQues.type == 'truefalse'){
        console.log(this.$store.state['truefalse-head'], this.$store.state['truefalse-answer-data'])

         this.$axios.put(`https://basthalk-be.herokuapp.com/api/v1/questions/${this.$store.state.normalQues.id}`, {
          head: this.$store.state['truefalse-head'],
          modelAnswer:this.$store.state['truefalse-answer-data'],
           image: this.$store.state["normal-ques-image"]
          })
          .then(res => {
            this.editNormalPop = false
            this.$store.state['complete-head'] = '',
            this.$store.state['complete-answer-data'] = ['']
            this.$snotify.success(`تم تعديل البيانات بنجاح`);
            console.log(res)
            let oldOQuestion = this.$store.state.questions.find(ques => ques.id === this.$store.state.normalQues.id)
            oldOQuestion.head = res.data.head
            oldOQuestion.modelAnswer = res.data.modelAnswer
             oldOQuestion.image = res.data.image
          })

      }
      
    },
    editNormalQuestion: function(ques){
      this.editNormalPop = true;
      this.$store.state.normalQues = ques
      
      this.normalQuesIndex = this.$store.state.questions.indexOf(this.$store.state.questions.find(question => question.id == ques.id ))
    },

     editParaQuestion: function(ques){
      this.editParaPop = true;
      this.$store.state.paraQues = ques
      
      this.paraQuesIndex = this.$store.state.questions.indexOf(this.$store.state.questions.find(question => question.id == ques.id ))
    },


    editParaQuestionMain: function(ques){
      if(this.$store.state.paraQues.type == 'paragraph'){
          this.$axios.put(`https://basthalk-be.herokuapp.com/api/v1/questions/${this.$store.state.paraQues.id}`, {
          head: this.$store.state['paragraph-head'],
          modelAnswer:this.$store.state['paragraph-answer-data'],
          image: this.$store.state['paragraph-answer-data-question']
          })
          .then(res => {
            this.editParaPop = false
            console.log(res)
            this.$store.state['paragraph-head'] = '',
            this.$store.state['paragraph-answer-data'] = ''
            this.$snotify.success(`تم تعديل البيانات بنجاح`);
            let oldOQuestion = this.$store.state.ParagraphQuestions.find(ques => ques.id === this.$store.state.paraQues.id)
            oldOQuestion.head = res.data.head
            oldOQuestion.modelAnswer = res.data.modelAnswer
          })
      }else if(this.$store.state.paraQues.type == 'group'){
        console.log(this.$store.state['paragraph-head'], this.$store.state['paragraph-answer-data'])

         this.$axios.put(`https://basthalk-be.herokuapp.com/api/v1/questions/${this.$store.state.paraQues.id}`, {
          head: this.$store.state['paragraph-head'],
          modelAnswer:this.$store.state['paragraph-answer-data'],
          image: this.$store.state['paragraph-answer-data-question']
          })
          .then(res => {
            this.editParaPop = false
            console.log(res)
            this.$store.state['paragraph-head'] = '',
            this.$store.state['paragraph-answer-data'] = ''
            this.$snotify.success(`تم تعديل البيانات بنجاح`);
            let oldOQuestion = this.$store.state.ParagraphQuestions.find(ques => ques.id === this.$store.state.paraQues.id)
            oldOQuestion.head = res.data.head
            oldOQuestion.modelAnswer = res.data.modelAnswer

          })

      }
    },

    main(val){
      return this.$store.commit("main", val)
    },
    

    // systemChange(){
    //   return this.$store.dispatch('systemChange')
    // },

    // levelChange(){
    //   return this.$store.dispatch('levelChange')
    // },

    

    // getSubjects(){
    //   return this.$store.dispatch("getSubjects")
    // },


    // systemChange(){
    //   return this.$store.dispatch('systemChange')
    // },

    x(e){
      return this.$store.commit("x",e.target.value)
    },



    getSystems() {
        this.$axios
          .get(`https://basthalk-be.herokuapp.com/api/v1/systems`)
          .then(res => {
            //   this.isLoading = false
            this.$store.state.systems = res.data;
            console.log("Systems", res);
          })
          .catch(err => {
            //   this.isLoading = false
            console.log(err);
          });
      },


      getQuestions: function() {
        this.$store.state.isLoad = true;
        this.$axios
          .get(`https://basthalk-be.herokuapp.com/api/v1/subjects/${this.$store.state.form.subject.id}/questions?page=${this.$store.state.currentx}`)
          .then(res => {
            this.$store.state.totalpages = res.data.totalPages;
            console.log("this is questions ", res);
            (this.$store.state.ParagraphQuestions = []),(this.$store.state.questions = []);
            res.data.docs.filter(question => {
              if (question.type == "paragraph" || question.type == "group") {
                this.$store.state.ParagraphQuestions.push(question);
              } else {
                this.$store.state.questions.push(question);
              }
            });
          })
          .finally(() => {
            this.$store.state.isLoad = false;
          });
      },


      systemChange() {
        this.$store.state.form.level = "";
        this.$store.state.levels = [];
        this.$store.state.levels = this.$store.state.systems.find(system => {
          return system.id === this.$store.state.form.system.id;
        }).levels;
      },
      levelChange() {
        this.$store.state.form.class = "";
        this.$store.state.classes = [];
        this.$store.state.classes = this.$store.state.levels.find(level => {
          console.log("this classes", this.$store.state.classes);
          return level.id === this.$store.state.form.level.id;
        }).classes;
      },
       getSubjects() {
        this.$axios
          .get(`https://basthalk-be.herokuapp.com/api/v1/class/${this.$store.state.form.class.id}/subjects`)
          .then(res => {
            // this.isLoading = false;
            this.$store.state.subjects = res.data.subjects;
            console.log(res.data);
            this.$store.state.units = [];
            res.data.subjects.forEach(sub => {
              sub.units.forEach(sub2 => {
                this.$store.state.units.push({ name: sub2.nameAr, value: sub2.id });
              });
              // this.units.push({name: sub.units.nameAr, value: sub.units.id})
            });
          })
          .catch(err => {
            // this.isLoading = false;
            console.log(err);
          });
      },

      filter_unit: function() {
        this.$store.state.isLoad = true;
        this.$axios
          .get(
            `https://basthalk-be.herokuapp.com/api/v1/subjects/${this.$store.state.form.subject.id}/questions?page=${this.$store.state.currentx}&unit=${this.$store.state.form.unit.value}`
          )
          .then(res => {
            this.$store.state.totalpages = res.data.totalPages;
            console.log("this is questions ", res);
            (this.$store.state.ParagraphQuestions = []), (this.$store.state.questions = []);
            res.data.docs.filter(question => {
              if (
                this.$store.state.lessonOptions.includes({
                  name: question.lesson.nameAr,
                  value: question.lesson.id
                })
              ) {
              } else {
                this.$store.state.lessonOptions.push({
                  name: question.lesson.nameAr,
                  value: question.lesson.id
                });
              }
  
              if (question.type == "paragraph" || question.type == "group") {
                this.$store.state.ParagraphQuestions.push(question);
              } else {
                this.$store.state.questions.push(question);
              }
            });
          })
          .finally(() => {
            this.$store.state.isLoad = false;
          });
      },

      lessonFilter: function() {
        this.$store.state.isLoad = true;
        this.$axios
          .get(
            `https://basthalk-be.herokuapp.com/api/v1/subjects/${this.$store.state.form.subject.id}/questions?page=${this.$store.state.currentx}&unit=${this.$store.state.form.unit.value}&lesson=${this.$store.state.form.lesson.value}`
          )
          .then(res => {
            this.$store.state.totalpages = res.data.totalPages;
            console.log("this is questions ", res);
            (this.$store.state.ParagraphQuestions = []), (this.$store.state.questions = []);
            res.data.docs.filter(question => {
              if (question.type == "paragraph" || question.type == "group") {
                this.$store.state.ParagraphQuestions.push(question);
              } else {
                this.$store.state.questions.push(question);
              }
            });
          })
          .finally(() => {
            this.$store.state.isLoad = false;
          });
      },


       checkifQuestionExist: function(id){
        var z = 0;
        let x = this.$store.state.questionsExam.find(ele => {
          return ele.id == id
        });
        if(x){
          console.log(true)
          return 1
        }else{
          console.log(false)
          return 0
        }
        
      },


      addGroupQuestion: function(obj,index,e){

     e.target.classList.toggle('Toggled')
    if(e.target.classList.contains('Toggled')){
      e.target.classList.replace('btn-primary','btn-danger')
      e.target.textContent = "حذف من أسئلة الامتحان"
    }else{
      e.target.textContent = "أضافة الي أسئلة الأمتحان"
      e.target.classList.replace('btn-danger','btn-primary')
    }


     if(this.checkifQuestionExist(obj.id) == 1 ){
        console.log("true")
         e.target.style.backgroundColor = this.$store.state.bgColorQues
          e.target.textContent = "اضافة الي اسئلة الامتحان"
           this.$store.state.bgColorQues = '#058ac6'
           e.target.style.backgroundColor = this.$store.state.bgColorQues

        this.$store.state.questionsExam.find(ques => ques.id == obj.id)
          let indexObj = this.$store.state.questionsExam.indexOf(this.$store.state.questionsExam.find(ques => ques.id == obj.id))
          this.$store.state.questionsExam.splice(indexObj,1)
        return ;
      }else{
        obj.isExamQues = true
          console.log(obj.id)
          //  if(obj.isExamQues == true){
            console.log("The Obj is true")
            
            e.target.textContent = "حذف من قائمة الأسئلة"
             this.$store.state.bgColorQues = '#e21d1d'
             e.target.style.backgroundColor = this.$store.state.bgColorQues
        this.$store.state.questionsExam.push(obj)
      }
  },


       // e.target = payload.e || obj == payload.obj
      addNormalQuestions: function(obj,index,e) {
       

        if(this.checkifQuestionExist(obj.id) == 1){
          
          console.log("true")
          obj.isExamQues = false
          e.target.style.backgroundColor = this.$store.state.bgColorQues
          e.target.textContent = "اضافة الي اسئلة الامتحان"
           this.$store.state.bgColorQues = '#058ac6'
            e.target.style.backgroundColor = this.$store.state.bgColorQues
          this.$store.state.questionsExam.find(ques => ques.id == obj.id)
          let indexObj = this.$store.state.questionsExam.indexOf(this.$store.state.questionsExam.find(ques => ques.id == obj.id))
          this.$store.state.questionsExam.splice(indexObj,1)
          return ;
        }else{
          obj.isExamQues = true
          console.log(obj.id)
            console.log("The Obj is true")
             
            
             this.$store.state.bgColorQues = 'red'
             e.target.style.backgroundColor = this.$store.state.bgColorQues
              e.target.textContent = "حذف من أسئلة الامتحان"
            this.$store.state.questionsExam.push(obj)
            
           
          
           
        }
      },
    //   removeExamQuestion(index,e){
    //     this.removedFromExam = true;
    //     this.$store.state.removeContent = "حذف من قائمة الامتحان"
    //    this.$store.state.bgColorQues = 'blue'
    //    this.removedFromExam = true
    //   this.$store.state.questionsExam.splice(index,1);
    // },

  },


  //    inExamQuestion: function(id){

  //   this.questionsExam.forEach(ele => {
  //     if(ele.id == id){
  //       return true
  //     }
  //   })
  //   return false
  // },
 
    
   
    
  
 

}
</script>

<style lang="scss">
.questions-bank-inner {
  position: relative;
  background: #ececec;
  padding: 15px;
  box-shadow: 0px 1px 10px 1px #d0d0d0;
  border: 0;
  /* border-radius: 7px; */
  margin-bottom: 15px;
  margin: 50px 0 50px 0;
  .loading {
    background: #ececec;
    min-height: 479px;
  }
  .filters {
    padding: 10px;
    background: #f5f5f5;
    margin-top: 10px;
    color: #058ac6;
    .vs__dropdown-toggle {
      padding: 6px;
      box-shadow: 0px 1px 10px 1px #ccc;
      border: 0;
      border-radius: 7px;
      margin-bottom: 15px;
    }
  }
  .con-vs-pagination.vs-pagination-primary {
    width: 100% !important;
  }
  .vs__clear {
    display: none !important;
  }
  .question-name {
    div {
      border: 1px solid #ccc;
      padding: 7px 12px 0;
      background: #f5f5f5;
      margin-bottom: 11px;
      h5 {
        font-size: 20px;
      }
    }
  }
  .empty-questions {
    width: 70%;
    margin-bottom: 47px;
    margin: auto;
    position: relative;
    .no-questions {
      position: absolute;
      bottom: 25%;
      left: 9px;
      font-family: "CustomFontRegular";
      font-size: 44px;
      text-shadow: 4px 2px 5px #ffffffad;
      color: #575a89;
    }
    img {
      width: 100%;
      height: 100%;
      margin-bottom: 59px;
      margin-top: 45px;
    }
  }
  .question-body {
    padding: 10px;
  }

  .question-bank-card {
    position: relative;
    margin: 10px;
    border: 2px dashed #d2d2d2;
    padding: 10px;
    margin-bottom: 15px;
    .solve-img {
      position: absolute;
      bottom: 0;
      left: 7px;
    }
    h6 {
      font-family: "CustomFontRegular";
    }
    h5 {
      font-size: 14px;
      font-weight: bolder;
      color: #058ac6;
      font-family: "CustomFontBold";
    }
    h5,
    h6 {
      display: inline-block;
    }
  }
}

@media (max-width: 575.98px) {
  .questions-bank-inner .empty-questions .no-questions{
        position: static !important;
    font-size: 27px !important;
    margin-bottom: 102px !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
   .questions-bank-inner .empty-questions .no-questions{
        position: static !important;
    font-size: 27px !important;
    margin-bottom: 102px !important;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .questions-bank-inner .empty-questions .no-questions{
        position: static !important;
    font-size: 35px !important;
    margin-bottom: 102px !important;
  }
}
</style>
