<template>
  <div class="determine-collapse">

      <div class="container">
             <div>
    <vs-collapse accordion >
     <vs-collapse-item>
       <div slot="header">
              <div class="determine-head">
                     <h5> <img style="margin-left:10px" src="../../assets/imgs/Page-3.png" alt=""> تحديد الدرس</h5>
              </div>       
        </div>

        <DetermineLesson />
      
     </vs-collapse-item>
     <vs-collapse-item>
       <div slot="header">
              <div class="determine-head">
                     <h5> <img style="margin-left:10px" src="../../assets/imgs/Page-3.png" alt=""> تحديد المادة</h5>
              </div>       
        </div>

        <DetermineLesson />
      
     </vs-collapse-item>
   <vs-collapse-item>
       <div slot="header">
              <div class="determine-head">
                     <h5> <img style="margin-left:10px" src="../../assets/imgs/Page-3.png" alt=""> تحديد المادة</h5>
              </div>       
        </div>

        <DetermineLesson />
      
     </vs-collapse-item>
    </vs-collapse>
  </div>


      </div>
    

      
  </div>
</template>

<script>
import DetermineLesson from '../../components/determine/determine'

export default {
  
    data(){
       
    },
    components:{
        DetermineLesson
    },
    watch:{
        eduType: function(val){
            if(val == 'التعليم الأزهري'){
                console.log('yes')
            }
        },
        eduLevel: function(val){
            if(val == 'الأبتدائية'){
                this.eduGradeOptions = ['الاول','الثاني','الثالث','الرابع','الخامس','السادس']
            }
            else if(val == 'الأعدادية'){
                this.eduGradeOptions = ['الاول','الثاني','الثالث']

            }else if(val == 'الثانوية'){
                this.eduGradeOptions = ['الاول','الثاني','الثالث']

            }
        }
    }
}
</script>

<style lang="scss">



@font-face {
  font-family: "CustomFontBlack";
  src: url("../../font/din-next-lt-w23-black.ttf");
}

@font-face {
  font-family: "CustomFontBold";
  src: url("../../font/din-next-lt-w23-bold.ttf");
}

@font-face {
  font-family: "CustomFontHeavy";
  src: url("../../font/din-next-lt-w23-heavy.ttf");
}

@font-face {
  font-family: "CustomFontLight";
  src: url("../../font/din-next-lt-w23-light.ttf");
}

@font-face {
  font-family: "CustomFontMedium";
  src: url("../../font/din-next-lt-w23-medium.ttf");
}

@font-face {
  font-family: "CustomFontRegular";
  src: url("../../font/din-next-lt-w23-regular.ttf");
}

.determine-collapse{
    margin-top: 50px;
    .icon-header.vs-collapse-item--icon-header{
        left: 0;
    right: auto;
    }
h5{
            font-family: "CustomFontMedium";
            color: #058ac6;
            padding: 10px 12px;
            }
    
.determine-subject{
    padding-top: 0 !important;
    .card-cont{
        border: 2px dashed #DDD;
        margin-top:0;
    padding: 50px 17px;
}
    padding-top: 80px;
   
   

input[type="text"], input[type="password"] ,input[type="email"], .vs--searchable .vs__dropdown-toggle{
  padding: 24px 11px;
  box-shadow: 0px 1px 10px 1px #DDD;
    border: 0;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 21px;
}
.vs--searchable .vs__dropdown-toggle{
    padding:8px;
    font-family: "CustomFontRegular";
}



      input[type="submit"].fullWidthBtn{
  display: block;
    width: 100%;
    text-align: center;
    padding: 13px;
    border-radius: 6px;
    border: 0;
    color: #FFF;
    background-color: #058ac6;
    font-family: "CustomFontRegular";
}
h6{
    font-family: "CustomFontMedium";
}


}

}

</style>