<template>
  <div>
    <div class="video-cart">
      <div class="video-bannar">
        <iframe
          width="530"
          height="290"
          :src="embed"
          frameborder="0"
          allowfullscreen
        ></iframe>
        <!-- allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" -->
      </div>
      <div class="video-desc">
        <div class="owner-img">
          <img
            src="https://yt3.ggpht.com/a/AATXAJy8WFXtW5XWItgc96YY7uKiVXlG87gI-7Mamw=s100-c-k-c0xffffffff-no-rj-mo"
          />
        </div>
        <div class="desc-cont">
          <h5>{{ title }}</h5>
          <p>{{ duration }}</p>

          <!-- <div class="video-time">{{videoTimer}}</div> -->
        </div>
      </div>
      <div class="video-btns">
        <slot name="video-edit-button"> </slot>
        <slot name="video-delete-button"> </slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["embed", "title", "duration"]
};
</script>

<style lang="scss" scoped>
$left: left;
$right: right;
$dir: rtl;

@if $dir == rtl {
  $left: right;
  $right: left;
} @else {
  $left: left;
  $right: right;
}
.video-cart {
  background: #f9f9f9;
  overflow: hidden;
  box-shadow: 0 3px 25px -7px rgba(204, 203, 203, 0.8);
  transition: all 0.3s ease;
  margin-bottom: 20px;
  position: relative;
  border-radius: 8px 8px 25px 25px;
  overflow: hidden;

  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 0;
    background: linear-gradient(45deg, #0570a0, #a5a5a5a8);
    z-index: 9;
    transition: all 0.7s ease;

    .video-icon {
      text-align: center;
      position: relative;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: "";
      opacity: 0;
      transition: all 0.5s linear;

      i {
        color: #fff;
        font-size: 60px;
        /* width: 100%; */
        display: block;
        margin: auto;
        text-align: center;
        margin-bottom: 15px;
        /* background: #FFF; */
      }
      i.fa-leanpub {
        font-size: 15px;
        display: inline-block;
        margin-bottom: 0;
      }

      button {
        span {
          position: absolute;
          top: 0;
          right: 0;
          width: 0;
          height: 100%;
          transition: all 0.3s linear;

          background: rgba(236, 236, 236, 0.3);
        }

        i {
          color: #058ac6;
        }
        &:hover {
          > span {
            width: 100%;
          }
        }
        text-align: center;
        width: 144px;
        overflow: hidden;
        margin: 21px auto;
        position: relative;
        padding: 7px;
        border: 0;
        color: #058ac6;
        font-weight: bold;
        border-radius: 13px;
        background: #fff;
        font-family: "CustomFontRegular";
        font-size: 19px;
        outline: none;
      }
    }
  }

  &:hover {
    transform: translate(0, -10px);
    cursor: pointer;
    .overlay {
      height: 100%;
      .video-icon {
        opacity: 1;
      }
    }
  }
  .video-bannar {
    max-width: 530px; /* you have to have a size or this method doesn't work */
    max-height: 290px;
    margin-right: auto;
    margin-left: auto;
    // height: 200px;
    // width: 100%;
    // position: relative;
  }
  .video-desc {
    padding: 10px 10px;
    overflow: hidden;
    position: relative;
    width: 70%;
    float: right;
    > div {
      float: $left;
    }
    div.owner-img {
      width: 20%;
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 62px;
        height: 51px;
        margin-top: 15px;
        margin: auto;
        text-align: center;
        display: inherit;
        border-radius: 50%;
        border: 1px dashed #ccc;
        padding: 3px;
      }
    }
    div.desc-cont {
      width: 70%;
      h5,
      p {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
      h5 {
        font-size: 17px;
        color: #058ac6;
        margin-right: 5px;
      }
      p {
        color: #c1c1c1;
        font-size: 13px;
        margin-right: 5px;
      }
    }
  }
  .video-date {
    clear: both;
    h6 {
      clear: both;
      font-weight: 400;
      position: relative;
      color: #058ac6;
      font-size: 13px;
      margin-top: 29px;
      &::after {
        position: absolute;
        top: 8px;
        right: -10px;
        height: 7px;
        width: 7px;
        background: #058ac6;
        content: "";
        border-radius: 50%;
      }
    }
  }
  .video-time {
    position: absolute;
    bottom: 23px;
    right: 15px;
    background: #058ac6;
    /* right: 0; */
    color: #fff;
    padding: 4px 6px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 6px;
    font-weight: bold;
  }
}
.video-btns {
  width: 30%;
  float: left;
  margin-top: 15px;
  button {
    padding: 6px;
    border-radius: 5px;
    border: 0;
    color: #fff;

    &:first-of-type {
      background-color: #058ac6;
    }
    &:last-of-type {
      background: #f72c2c;
    }
    &:hover {
      box-shadow: 1px 2px 7px 8px #e2e2e2b8;
      transition: all 0.5s linear;
      transform: translate(0, -4px);
    }
  }
  .fa-edit {
    background: #098bc1;
  }
}
</style>
